<div class="container">
    <div class="d_img">
        <img src="<?= $logoLab ?>" />
    </div>

    <div class="message">
        Clique em uma das opções abaixo:
        <!-- <?= "<br>cok: " . $_COOKIE['screenSize'] ?>
            <?= "<br>refresh: " . session()->refresh ?> -->
    </div>

    <div class="f_btn">
        <button class="btn btn-success btnConfirm">Confirmar agenda</button>
        <button class="btn btn-success btnRemarc">Remarcar agenda</button>
        <button class="btn btn-success btnCancel">Cancelar agenda</button>
    </div>
</div>
