<div class="bdRed p-5" style="width: 800px; height: 800px;">
    <div class="wrapper_teste bdRed" style="height: 500px;">
        <div class="p-5 bdBlue">
            <div class="col-1">
                <label>ID</label>
                <input type="text" class="form-control" name="id">
            </div>
        </div>
        <div class="p-5 bdBlue">

        </div>
        <div class="p-5 bdBlue">

        </div>
    </div>

    <button class="btn btn-arc mt-4 px-5" onclick="$hide('.wrapper_teste')"> Teste </button>
    <button class="btn btn-arc mt-4 px-5" onclick="$show('.wrapper_teste')"> Teste </button>
</div>