<td role="gridcell" class="fc-daygrid-day fc-day fc-day-tue fc-day-past" data-date="2023-04-18" aria-labelledby="fc-dom-48">
    <div class="fc-daygrid-day-frame fc-scrollgrid-sync-inner">
        <div class="fc-daygrid-day-top"><a id="fc-dom-48" class="fc-daygrid-day-number" aria-label="18 de abril de 2023">18</a></div>
        <div class="fc-daygrid-day-events">
            <div class="fc-daygrid-event-harness" style="margin-top: 0px">
                <a
                    class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-start fc-event-end fc-event-past"
                    tabindex="0"
                    style="border-color: rgb(255, 69, 0); background-color: rgb(255, 69, 0)"
                >
                    <div class="fc-event-main" style="color: rgb(255, 255, 255)">
                        <div class="fc-event-main-frame">
                            <div class="fc-event-time">05</div>
                            <div class="fc-event-title-container">
                                <div class="fc-event-title fc-sticky">Luiz Arnaldo</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="fc-daygrid-day-bottom" style="margin-top: 0px"></div>
        </div>
        <div class="fc-daygrid-day-bg"></div>
    </div>
</td>

<a
    class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-start fc-event-end fc-event-past"
    tabindex="0"
    style="border-color: rgb(255, 69, 0); background-color: rgb(255, 69, 0)"
>
    <div class="fc-event-main" style="color: rgb(255, 255, 255)">
        <div class="fc-event-main-frame">
            <div class="fc-event-time">05</div>
            <div class="fc-event-title-container">
                <div class="fc-event-title fc-sticky">Michele Ferrari</div>
            </div>
        </div>
    </div>
</a>

<button class="btn btnFindPatient"><i class="fa-light fa-folder-open"></i></button>
