body {
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: var(--cl2);
    color: #fff;
    overflow: hidden;
}

.message {
    font-family: Roboto-Regular;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: auto;
}


/* ENVIAR CONVITE */
.f_send {
    /* display: none; */
    width: 500px;
    margin-top: -20%;
    padding: 0 12px;
}

.f_send .content {
    display: flex;
    flex-direction: column;
}

.f_send .title {
    align-self: flex-start;
    margin-top: -10px;
    padding: 0 10px;
    background: var(--cl2);
}


/* CONVIDE ENVIADO */
.f_finish {
    display: none;
}

.f_finish .d_img {
    width: 30% !important;
    margin: 0 auto;
}

.f_finish .message {
    width: 60%;
}

.f_finish .d_btn {
    padding: 0 20% !important;
}


/* CELULAR */
@media (max-width: 768px) {
    .f_send {
        width: 100%;
        margin-top: -60%;
    }

    .finish {
        margin-top: -10%;
    }

    .d_img {
        width: 40%;
    }

    .message {
        font-size: 18px;
        line-height: 25px;
    }
}