<div class="container">
    <!-- ABAS DE TOPO -->
    <div class="f_menuTop">
        <div class="f_right">
            <div class="btn_graphic tab" data-tab="graphic">
                <p>Gráfico</p>
            </div>
            <div class="btn_expense tab" data-tab="expense">
                <p>Lista de Despesas</p>
            </div>
        </div>
    </div>

    <!-- GRÁFICO -->
    <div class="f_graphic">
        <div class="f_chart1">
            <div id="chart1"></div>
        </div>

        <div class="f_chart2">
            <div id="chart2"></div>
        </div>

        <div class="f_chart3">
            <div id="chart3"></div>
        </div>
    </div>

    <!-- DESPESAS -->
    <div class="f_expense">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="ps-4">Id</th>
                    <th scope="col">Data</th>
                    <th scope="col">Fechamento</th>
                    <th scope="col">Despesa</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Mobilizado</th>
                    <th class="text-end pe-4">Valor</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="popup bank_register_module"></div>