<div class="container d-flex vh-100 pb-2" style="flex-direction:column">
    <!-- GRÁFICO -->
    <div class="f_graphic">
        <div class="f_chart1">
            <div id="chart1"></div>
        </div>
    </div>

    <!-- LISTA -->
    <div class="f_list w-100 h-100" style="display:grid;grid-template-columns:1fr 1fr;gap:20px;overflow:hidden">
        <div class="left" style="height:100%;border:1px solid #7e7e7e;overflow:auto">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Fonte</th>
                        <th scope="col">Zap</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="right" style="height:100%;border:1px solid #7e7e7e;overflow:auto">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Fonte</th>
                        <th scope="col">Zap</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>