.f_top .tab {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 140px;
    height: 40px;
    margin-left: 1px;
    padding-left: 10px;
    border-radius: 10px 10px 0 0;
    background: var(--cl3);
    color: #fff;
    cursor: pointer;
}

.f_top .tab:hover,
.f_top .active {
    background: var(--cl1);
}

.f_register .d_btn {
    display: flex;
    width: 25%;
    height: 95px;
}

.refresh {
    position: absolute;
    bottom: 20px;
    right: 200px;
    color: greenyellow;
}