.grid {
    display: grid;
    grid-template-columns: 70px 1fr 130px 170px 40px;
}

.f_list .list div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777;
}

.f_list .list input {
    width: 100px;
    padding: 5px 3px;
    margin: 3px 0;
    text-align: end;
    border: 2px solid #777;
}

.f_list .list input.vl {
    width: 150px;
}

.f_list .list .delete,
.f_list .list .goUser {
    font-size: 20px;
    cursor: pointer;
    color: orangered;
}

.f_list .list_menu button {
    width: 110px;
    margin-left: 5px;
}

.f_aporte .btns_menu button {
    width: 110px;
    margin-left: 5px;
}