#menuTop .right .tab {
    width: 180px;
}

#list {
    width: 1200px;
}

#list td.color1 {
    color: #fff;
}

#list td.color2 {
    color: #ff0000;
}

#list .fa-sync-alt {
    font-size: 20px;
    cursor: pointer;
}