<div class="tools pt-1 pb-5">
    <!--: NÃO IDENTIFICADO -->
    <div class="title">Não identificados</div>
    <?=view('sidebar/templates/buttons/unidentified.html')?>
    <?=view('sidebar/templates/buttons/filter.html')?>

    <!--: SALDO -->
    <div class="title mt-3">Saldo</div>
    <div class="f_balance">
        <div class="btnFather">
            <div class="d_icon icon_active_indication"><i class="fas fa-dollar-sign px-2 pt-1"></i></div>
            <div class="div date">
                <input type="text" class="balance text-center" style="width: 100%" />
            </div>
        </div>
    </div>
    <div class="f_balance">
        <div class="btnFather">
            <div class="d_icon icon_active_indication"><i class="fas fa-dollar-sign px-2 pt-1"></i></div>
            <div class="div date">
                <input type="text" class="balance text-center" style="width: 100%" />
            </div>
        </div>
    </div>

    <div class="btnFather">
        <div class="d_icon"><i class="fal fa-save px-2"></i></div>
        <div class="btns" style="grid-template-columns: 1fr">
            <button class="btn">Checa Saldo</button>
        </div>
    </div>
</div>
