<div class="container pb-3">
    <div id="menuTop">
        <div class="left">
            <input type="text" class="name" readonly />
            <input type="text" class="id" readonly />
            <button class="btn btn-group btnFindBank"><i class="fa-light fa-folder-open"></i></button>
        </div>
        <div class="right">
            <button class="btn btn-group btn tab btnLockedDay" disabled style="display: none"></button>
            <?php if (checkAccess(114)) : ?>
            <button class="btn btn-group btn tab btnBank">Banco</button>
            <?php endif; ?>
            <?php if (checkAccess(113)) : ?>
            <button class="btn btn-group btn tab btnClinic">Clínica</button>
            <?php endif; ?>
            <?php if (checkAccess(112)) : ?>
            <button class="btn btn-group btn tab btnUser">Usuário</button>
            <?php endif; ?>
            <?php if (checkAccess(118)) : ?>
            <button class="btn btn-group btn tab btnProvider">Fornecedor</button>
            <?php endif; ?>
        </div>
    </div>

    <div class="mt-1 pt-1 px-3 scrollbar" id="list">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="ps-4">Id</th>
                    <th scope="col">Data</th>
                    <th scope="col">Fechamento</th>
                    <th scope="col">Função</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Clínica</th>
                    <th class="text-end pe-4">Valor</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!--+ MODAL DE LANÇAMENTOS -->
<div class="modal-overlay modal-entry" id="entryAdd"></div>

<!--+ MODAL DE CALENDÁRIO "calendar_days.html" -->
<div class="modal-overlay md7" id="md7">
    <?=view('modules/calendar/calendar_days.html')?>
</div>

<!--+ MODAL DE EDIÇÃO DE LANÇAMENTOS -->
<div class="modal-overlay bank_register_module"></div>

<?php if (isset($deletar)) : ?>

<!--+ MODAL DE MULTIPLOS LANÇAMENTOS -->
<?php if ($multiEntryAdd) : ?>
<div class="popup" id="md5">
    <?=view('bank/entry/multiEntryAdd.html')?>
</div>
<div class="popup" id="md8">
    <?=view('bank/entry/entryMultiExpense.html')?>
</div>
<?php endif; ?>

<?php endif; ?>
