<!--+ CONTROLE DE DATA -->
<div class="filter disabledColor pt-1">
    <div class="title title_period d-flex justify-content-center">
        <div class="pointer period">Período</div>
        <div class="px-2">-</div>
        <div class="pointer closing">Fechamento</div>
    </div>

    <?=view('sidebar/templates/buttons/datePeriod.html')?>

    <div class="title mt-5">Saldo</div>
    <div class="f_balance">
        <div class="btnFather">
            <div class="d_icon icon_active_indication"><i class="fas fa-dollar-sign px-2 pt-1"></i></div>
            <div class="div date">
                <input type="text" class="balance text-center" style="width: 100%" />
            </div>
        </div>
    </div>
</div>

<!--+ DATA BLOQUEADA -->
<?php if(permiss([999999999999])): ?>
<div class="title mt-5">Data Bloqueada</div>
<div class="lockedDay">
    <div class="btnFather">
        <button class="btn max m-0 lastLockedDay">Ultima Bloqueada</button>
    </div>
    <div class="btnFather">
        <button class="btn max m-0 firstToLock">Primeira a Bloquear</button>
    </div>
    <div class="btnFather">
        <button class="btn max m-0 teste">Teste</button>
    </div>
</div>
<?php endif; ?>

<?php if(permiss([121])): ?>
<div class="mt-5">
    <?=view('sidebar/templates/buttons/_search.html', ['btnTxt'=>'Busca '.$title])?>
    <?=view('sidebar/templates/buttons/_new.html', ['btnTxt'=>'Lançamento'])?>
    <?=view('sidebar/templates/buttons/_generic.html', [
        'btnTxt'=>'Multi Entradas', 'btnFather'=>'', 'btnIcon'=>'fas fa-folder-plus', 'btnName'=>'btnMultiEntry', ])?>
    <?=view('sidebar/templates/buttons/_generic.html', [
        'btnTxt'=>'Multi Despesas', 'btnFather'=>'', 'btnIcon'=>'fas fa-folder-plus', 'btnName'=>'btnMultiExpense', ])?>
    <?=view('sidebar/templates/buttons/_generic.html', [
        'btnTxt'=>'Multi OS', 'btnFather'=>'', 'btnIcon'=>'fas fa-folder-plus', 'btnName'=>'btnMultiOs', ])?>
</div>
<?php endif; ?>
