:root {
    --label-color: #454d55ff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: #f8f9fa;
}

.img {
    margin-top: -10%;
}

.msg1 {
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    color: var(--label-color);
}

.msg2 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--label-color);
}

@media (max-width: 1600px) {
    .img {
        width: 90%;
    }

    img {
        width: 100%;
    }

    .msg1 {
        width: 90%;
        font-size: 30px;
    }
}
