#headerBar {
    .menu {
        .option {
            margin-top: 7px;
            margin-right: 10px;
            font-size: 15px;
            font-weight: bold;
        }

        .btn {
            width: 155px;

            &.active {
                background-color: var(--colorXDark) !important;
            }

            &:disabled {
                background-color: #acacac;
                opacity: 1;
            }
        }
    }
}

#image {
    .left {
        overflow: hidden;

        .list {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 10px);
            height: 100%;
            gap: 10px;
            padding: 10px;
            margin: 10px;
            margin-bottom: 0;
            overflow-y: auto;
        }

        .image-box {
            position: relative;
            width: calc(20% - 10px);
            height: 400px;
            border-radius: 7px;
            cursor: pointer;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            .icon-box {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 4px 8px;
                border-radius: 0 13px;
                font-size: 18px;
                cursor: pointer;
                background: var(--colorDark);

                i {
                    color: white;
                }
            }

            .span-box {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0 15px 0 5px;
                border-radius: 13px 0;
                font-weight: bold;
                background-color: #ffffffa4;
                color: var(--colorDark);
            }

            iframe {
                /*. para a div em q se encontra o pdf possa aceitar click */
                pointer-events: none;
            }
        }
    }
}

#modalQrCode {
    .modal-dialog {
        .modal-content {
            .modal-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 0;

                .image {
                    width: 300px;
                    height: 300px;
                    border: 1px solid gray;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

#modalCarousel {
    .modal-dialog {
        max-width: 600px;
        margin-top: 10px;

        .modal-content {
            .modal-body {
                padding: 0;

                .image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                iframe {
                    width: 100%;
                    height: 800px;
                }
            }
        }

        &.pdf {
            max-width: 1200px;
        }
    }
}

@media (max-width: 1600px) {
    #headerBar {
        .menu {
            .option {
                font-size: 15px;
                font-weight: lighter;
            }

            .btn {
                width: 130px;

                &.active {
                    height: 28px;
                }

                i {
                    display: none;
                }
            }
        }
    }

    #image {
        .left {
            .list {
                .image-box {
                    width: calc(25% - 10px);
                    height: 300px;

                    .icon-box {
                        font-size: 15px;
                    }

                    .span-box {
                        padding: 0 15px 0 5px;
                        border-radius: 13px 0;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
