<div id="headerBar">
    <div>
        <span>Clínicas</span>
        <i class="fa-light fa-arrow-right-long mx-2"></i>
        <i class="fa-light fa-photo-film ms-2 me-1"></i>
        <span>Imagens</span>
    </div>
    <div class="menu">
        <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Filial</button>
    </div>
</div>

<div class="left left-css">
    <div class="content">
        <div class="logo">
            <div class="title">Logo da clínica</div>
            <div class="image">
                <i class="fal fa-exclamation-circle"></i>
                <img src="" style="display: none" />
            </div>
            <div class="d-flex justify-content-center gap-3 mt-3 btns">
                <input type="file" id="cropperInputImage" accept=".jpg, .jpeg, .png" style="display: none" />
                <label class="btn btn-primary" for="cropperInputImage">
                    <span>Adicionar</span>
                </label>
                <button class="btn btn-danger w-35 delete">Deletar</button>
            </div>
        </div>
    </div>

    <!--+ CROPPER -->
    <div class="cropper p-2" style="display: none">
        <div class="cropper-img">
            <img id="cropperImage" src="" />
        </div>

        <div class="d-flex justify-content-center align-items-center gap-3 py-3 cropper-tools">
            <!--+ Botão para enviar imagem -->
            <button class="btn btn-success" id="sendImage">Salvar imagem</button>
        </div>
    </div>
</div>
