#menuTop {
    .left {
        flex: 1;
        min-width: 0;

        input {
            display: none;
        }
    }

    .right {
        flex: 1;
        width: 100%;

        .btn.order,
        .btn.resset {
            width: 50px;
        }
    }

    .filter-box {
        &.period {
            .btn.dropdown-toggle {
                width: 350px;
                margin-top: 10px;
            }

            .dropdown-menu {
                min-width: 300px;
                padding: 20px;
                inset: 0px 0px auto auto !important;

                .input-group-text {
                    width: 70px;
                }

                .btn-top .btn {
                    background-color: transparent;
                    color: var(--colorDark);
                    border-color: var(--colorDark);

                    &.active {
                        background-color: var(--colorDark);
                        color: white;
                    }
                }
            }
        }

        &.status {
            .btn.dropdown-toggle {
                width: 250px;
                margin-top: 10px;
            }

            .dropdown-menu {
                width: 300px;
                padding: 20px;
                inset: 0px 0px auto auto !important;

                .list {
                    td {
                        cursor: pointer;
                    }
                }

                .btns {
                    margin-top: 30px;
                }
            }
        }

        &.prof {
            .btn.dropdown-toggle {
                width: 200px;
                margin-top: 10px;

                &:disabled {
                    background-color: var(--colorDark);
                }
            }

            .dropdown-menu {
                min-width: 300px;
                padding: 20px;
                inset: 0px 0px auto auto !important;

                .find {
                    width: 100%;
                }

                .list {
                    min-height: 200px;
                    max-height: 65vh;
                    margin-top: 10px;
                    overflow-y: auto;

                    td {
                        cursor: pointer;
                    }
                }

                .btns {
                    margin-top: 30px;
                }
            }
        }

        &.clinic {
            .btn.dropdown-toggle {
                width: 200px;
                margin-top: 10px;

                &:disabled {
                    background-color: var(--colorDark);
                }
            }

            .dropdown-menu {
                min-width: 300px;
                padding: 20px;
                inset: 0px 0px auto auto !important;

                .find {
                    width: 100%;
                }

                .list {
                    min-height: 200px;
                    max-height: 65vh;
                    margin-top: 10px;
                    overflow-y: auto;

                    td {
                        cursor: pointer;
                    }
                }

                .btns {
                    margin-top: 30px;
                }
            }
        }
    }
}
