<div id="headerBar">
    <div>
        <span>Clínicas</span>
        <i class="fa-light fa-arrow-right-long ms-2 me-1"></i>
        <i class="fa-light fa-buildings ms-2 me-1"></i>
        <span>Filiais</span>
    </div>
    <div class="menu">
        <div id="saveMain" style="display: none">
            <div class="btns">
                <button class="btn btn-primary save">Salvar</button>
                <button class="btn btn-danger cancel">Carcelar</button>
            </div>
            <div class="message"></div>
        </div>
        <div class="generic">
            <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Filial</button>
            <button class="btn btn-headerBar new"><i class="fa-light fa-folder-plus"></i>Nova Filial</button>
            <button class="btn btn-headerBar block"><i class="fa-light fa-diamond-exclamation"></i>Bloqueia Filial</button>
            <button class="btn btn-headerBar delete"><i class="fa-light fa-trash-can"></i>Deleta Filial</button>
        </div>
    </div>
</div>

<div class="scrollbar p-5">
    <div class="col-3">
        <div>
            <div class="form-group">
                <label>Matriz</label>
                <input type="hidden" name="clinicMainId" />
                <input type="text" class="form-control" name="clinicMainName" readonly />
                <button class="btn btn-group px-2"><i class="fa-light fa-folder-open"></i></button>
            </div>
        </div>
        <div class="scrollbar mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Filial</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
