main {
    border: 5px solid yellowgreen !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
    border: 1px solid blue;
}

.cell {
    width: 400px;
    border: 1px solid red;
}

.f_message {
    padding-top: 30px;
}

.f_cell {
    padding-top: 30px;
}

.f_button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    /* border: 1px solid yellowgreen; */
}

.f_button .btn {
    padding: 8px 50px;
    /* border: 1px solid yellowgreen; */
}