.container {
    padding: 0 60px;
}

.cropper-img {
    display: none;
    height: 40vh;
}

.cropper-tools {
    padding: 30px;

    .btn {
        width: 170px;

        .cropperInputImage {
            color: #fff;
        }
    }
}

img {
    max-width: 100%;
}

/*. Seletores padrão da biblioteca Cropper */
.cropper-container {
    max-width: 100% !important;
    max-height: 100% !important;
}
