.container {
    display: flex;
    flex-direction: column;
    height: 99%;
}

#top {
    display: grid;
    grid-template-columns: 500px 1fr;
    padding: 15px;
}

#top div:nth-child(2) {
    justify-self: self-end;
    width: 170px;
}

#table {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 10%;
    border: 1px solid #777;
}

#table>div {
    padding: 15px 30px;
    color: #fff;
}

#table textarea {
    height: 100%;
    padding: 30px;
}

.ttt {
    padding: 50px;
    border: 1px solid red;
}