<div class="container">
    <!--+ Left -->
    <div class="left">
        <!--+ Filtro -->
        <div class="filter">
            <div class="input-group clinic">
                <span class="input-group-text color-wau2">
                    <i class="fa-light fa-house-chimney-medical me-2 pb-1"></i>Cínica:
                </span>
                <input type="text" class="form-control" name="clinicName" readonly />
                <button class="btn color-wau2 filterClinic">
                    <i class="fa-light fa-folder-open"></i>
                </button>
                <button class="btn color-wau2 left-spacing setAllClinics">
                    <i class="fa-light fa-folder-xmark"></i>
                </button>
                <button class="btn left-spacing clinicStatus">JS</button>
            </div>

            <div class="input-group user">
                <span class="input-group-text color-wau2"> <i class="fa-light fa-user me-2 pb-1"></i>Usuário: </span>
                <input type="text" class="form-control" name="userName" />
                <button class="btn color-wau2 left-spacing setAllUsers">
                    <i class="fa-light fa-folder-xmark"></i>
                </button>
                <button class="btn left-spacing userStatus">JS</button>
            </div>
        </div>

        <div class="table-box">
            <table class="table align-middle table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Clínica</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!--+ Right -->
    <div class="right">
        <h5 class="text-center mt-5">Histórico de Logins</h5>
        <div class="table-box">
            <table class="table align-middle table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Clínica</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
