<div id="headerBar">
    <div>
        <span>Fornecedores</span>
        <i class="fa-light fa-arrow-right-long mx-2"></i>
        <i class="fa-light fa-address-card ms-2 me-1"></i>
        <span>Cadastro</span>
    </div>
    <div class="menu">
        <div id="saveMain" style="display: none">
            <div class="btns">
                <button class="btn btn-primary save">Salvar</button>
                <button class="btn btn-danger cancel">Carcelar</button>
            </div>
            <div class="message"></div>
        </div>
        <div class="generic">
            <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Procedimentos</button>
            <button class="btn btn-headerBar new"><i class="fa-light fa-folder-plus"></i>Novo Procedimento</button>
            <button class="btn btn-headerBar block"><i class="fa-light fa-diamond-exclamation"></i>Bloqueia Procedimento</button>
            <button class="btn btn-headerBar delete"><i class="fa-light fa-trash-can"></i>Deleta Procedimento</button>
        </div>
    </div>
</div>

<div class="scrollbar h-100">
    <div class="row mt-3 px-3">
        <div class="col-5">
            <label>Nome</label>
            <input type="text" class="form-control" name="name_corporate" maxlength="60" />
        </div>
        <div class="col-2">
            <label>Categoria</label>
            <input type="text" class="form-control" name="name_trading" maxlength="40" />
        </div>
        <div class="col-2">
            <label>Categoria</label>
            <input type="text" class="form-control" name="name_trading" maxlength="40" />
        </div>
        <div class="col-2">
            <label>Categoria</label>
            <input type="text" class="form-control" name="name_trading" maxlength="40" />
        </div>
        <div class="col-1">
            <label>Cadastro</label>
            <input type="text" class="form-control" name="name_trading" maxlength="40" />
        </div>
    </div>

    <div class="row pt-3 px-3">
        <div class="col-1">
            <label>Unidade</label>
            <input type="text" class="form-control" name="" />
        </div>
        <div class="col-1">
            <label>Qt Estoque</label>
            <input type="text" class="form-control" name="" />
        </div>
        <div class="col-1">
            <label>Qt Mínima</label>
            <input type="text" class="form-control" name="" />
        </div>
        <div class="col-1">
            <label>Qt Máxima</label>
            <input type="text" class="form-control" name="" />
        </div>
        <div class="col-1">
            <label>xxx</label>
            <input type="text" class="form-control" name="" />
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5 pt-5" style="font-size: 50px">Em Construção!</div>
</div>
