<div class="container h-100 py-3 mb-3">
    <!-- FORNECEDORES -->
    <div class="f_register bdGrey h-100">
        <div class="title_div px-3 py-2">Cadastro de Fornecedores - Dados do fornecedor</div>
        <div class="row pt-3 px-3">
            <div class="col-6">
                <label>Razão Social</label>
                <input type="text" class="form-control" id="name" />
            </div>
            <div class="col-3">
                <label>Nome curto</label>
                <input type="text" class="form-control" id="name_social" />
            </div>
            <div class="col-1">
                <label>ID</label>
                <input type="text" class="form-control" id="id" disabled />
            </div>
        </div>
        <div class="row pt-3 px-3">
            <div class="col-3">
                <label>Celular</label>
                <input type="text" class="form-control" id="phone" />
            </div>
            <div class="col-3">
                <label>Inscrição Estadual</label>
                <input type="text" class="form-control" id="ie" />
            </div>
            <div class="col-3">
                <label>CNPJ</label>
                <input type="text" class="form-control" id="cnpj" />
            </div>
        </div>
        <div class="row pt-3 px-3">
            <div class="col-6">
                <label>Endereço</label>
                <input type="text" class="form-control" id="address" />
            </div>
            <div class="col-2">
                <label>Número</label>
                <input type="text" class="form-control" id="address_number" />
            </div>
            <div class="col-4">
                <label>Complemento</label>
                <input type="text" class="form-control" id="address_complement" />
            </div>
        </div>
        <div class="row pt-3 px-3">
            <div class="col-4">
                <label>Bairro</label>
                <input type="text" class="form-control" id="address_neighb" />
            </div>
            <div class="col-4">
                <label>Cidade</label>
                <input type="text" class="form-control" id="address_city" />
            </div>
            <div class="col-1">
                <label>Estado</label>
                <input type="text" class="form-control" id="address_state" />
            </div>
            <div class="col-3">
                <label>CEP</label>
                <input type="text" class="form-control" id="address_zip" />
            </div>
        </div>
    </div>
</div>
