.container {
    flex-direction: row;
    padding-bottom: 20px;
}

#check {
    width: 650px;
    border: 1px solid gray;
}

#check .title_div {
    justify-content: center;
    padding: 10px 0;
}

#check .register {
    padding: 15px;
}

#check .register .icons {
    display: flex;
    align-items: end;
    padding-bottom: 8px;
    font-size: 25px;
    color: orangered;
}

#check .register .icons i {
    cursor: pointer;
}

#check .titleList {
    display: flex;
    color: #fff;
}

#check .titleList div {
    width: 132px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
}

#check .titleList div:first-child {
    width: 140px;
    padding: 6px 12px;
}

#check span {
    width: 140px;
}

#check input {
    text-align: right;
}

#check .btn {
    width: 60px;
}

#check .btn.btnList.active {
    color: orangered;
}

#check .btnSave,
#check .btnRefresh {
    width: 120px;
    margin-left: 10px;
}

#list {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid gray;
}