.modelo {
    &.form-grow {
        max-height: 300px;
    }
}
.tools {
    display: flex;
    margin-top: 10px;
}

.paleta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--cl30);

    #hueBoxContainer {
        position: relative;
        width: 300px;
        height: 30px;
    }

    #paletteBoxContainer {
        position: relative;
        width: 300px;
        height: 200px;
        margin-top: 10px;
    }

    #previewBox {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        border: 1px solid black;
    }

    #hueDot,
    #paletteDot {
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        border: 2px solid black;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        display: none;
    }
}

.elements-container {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cl30);

    .form-group {
        gap: 5px;

        &.--cl10 .color {
            background-color: var(--cl10);
        }
        &.--cl15 .color {
            background-color: var(--cl15);
        }
        &.--cl35 .color {
            background-color: var(--cl35);
        }
        &.--cl30 .color {
            background-color: var(--cl30);
        }
        &.--cl95 .color {
            background-color: var(--cl95);
        }

        &.--input-color .color {
            background-color: var(--input-color);
        }
        &.--input-bg .color {
            background-color: var(--input-bg);
        }
        &.--input-border .color {
            background-color: var(--input-border);
        }

        .color {
            width: 40px;
            border: 1px solid var(--input-border);
        }

        input {
            padding: 0;
            text-align: center;
        }

        button {
            &.select {
                width: 170px;
            }

            &.refresh {
                width: auto;
            }
        }
    }
}
