.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    background: var(--cl2);
    color: #fff;
}

.info .d-flex {
    margin: 0 30%;
}

.info .message {
    margin-top: 50px;
    padding: 0 10%;
    font-family: Roboto-Regular;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .info {
        /* width: 50%; */
        font-size: 30px;
    }

    .info .message {
        font-size: 22px;
        line-height: 25px;
        /* color: red; */
    }

    .btn {
        width: 50% !important;
    }
}