<div class="container">
    <!-- TOPO -->
    <div id="top">
        <div class="input-group">
            <span class="input-group-text">Procedimento</span>
            <input type="text" class="form-control" id="name" disabled>
        </div>
        <div class="input-group">
            <span class="input-group-text">Id</span>
            <input type="text" class="form-control text-center" id="id" disabled>
        </div>
    </div>

    <!-- TABELA DE PREÇO -->
    <div id="table">
        <div>Descrição de valores</div>
        <textarea disabled></textarea>
    </div>
</div>