<style>
    [js="overlay"] {
        background-color: #00000054;
    }
</style>

<div class="modal px-3 py-2">
    <div class="px-4 py-4">
        <div class="title_border">
            <div
                class="title"
                style="position: absolute; z-index: 1; margin: -10px 0 0 20px; padding: 0 10px; color: #fff; background-color: var(--cl3)"
            >
                Consultórios/Salas
            </div>
            <div class="btns_select p-3" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px"></div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-group w-35" data-id="exit">Sair</button>
        </div>
    </div>
</div>
