<div class="modal config-view" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuração dos botões das Views</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body p-4">
                <div class="list"></div>
                <div class="tools d-flex justify-content-center mt-3">
                    <div class="col-10">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" />
                            <button class="btn color-wau3 ms-1 update" disabled>Alterar</button>
                            <button class="btn color-wau3 ms-1 new" disabled>Novo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success save w-25" disabled>Salvar</button>
                <button class="btn btn-warning w-25" data-bs-dismiss="modal">Sair sem salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal config-perm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuração dos botões das Permições</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-4">
                <div class="list"></div>
                <div class="tools d-flex justify-content-center mt-3">
                    <div class="col-10">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" />
                            <button class="btn color-wau3 ms-1 update" disabled>Alterar</button>
                            <button class="btn color-wau3 ms-1 new" disabled>Novo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success save w-25" disabled>Salvar</button>
                <button class="btn btn-warning w-25" data-bs-dismiss="modal">Sair sem salvar</button>
            </div>
        </div>
    </div>
</div>
