<!--+ BARRA DE NAVEGAÇÃO -->
<div id="headerBar">
    <div class="title">
        <i class="fa-light fa-user-key me-3"></i>
        <span>Configuração de Permisssões</span>
    </div>
    <div class="menu">
        <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Usuário</button>
        <button class="btn btn-headerBar removeAllPerm">
            <i class="fa-light fa-trash-can"></i>Remove todas as permissões
        </button>
    </div>
</div>

<!--+ ESQUERDA -->
<div class="left left-css">
    <div class="header">
        <div class="title">Telas</div>
        <div class="btn-box">
            <span>Usar pemissões das atividades:</span>
            <button class="btn activity"></button>
        </div>
    </div>
    <div class="list"></div>
</div>

<!--+ DIREITA -->
<div class="right right-css">
    <div class="title">Permissões</div>
    <div class="list"></div>
</div>

<!--+ CONFIGURAÇÃO -->
<?php if ($isDev) {echo $this->include("user/permission/config.html"); } ?>
