<div class="container">
    <div id="check">
        <div class="title_div">Auditoria de Lançamentos</div>

        <div class="row register">
            <div class="col-2">
                <label>Id</label>
                <input type="text" class="form-control" name="id" />
            </div>
            <div class="col-4">
                <label>Data</label>
                <input type="text" class="form-control" name="lastDateAudit" />
            </div>
            <div class="col-4">
                <label>Ultimo lançamento</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-2 icons">
                <i class="fa-light fa-arrows-rotate btnRefresh" title="Atualizar"></i>
                <i class="fa-light fa-trash-can ms-3 btnDelete" title="Deletar"></i>
            </div>
        </div>

        <div class="row pt-3 px-3">
            <div class="titleList">
                <div></div>
                <div>Memória</div>
                <div>Novos</div>
                <div>Soma</div>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">OS</span>
                <input type="text" class="form-control" name="lastIdAudit" />
                <input type="text" class="form-control" name="lastIdNew" />
                <input type="text" class="form-control" name="lastIdSum" />
                <button class="btn btn-group btnList" disabled>Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">OS</span>
                <input type="text" class="form-control" name="osAudit" mask="number" />
                <input type="text" class="form-control" name="osNew" mask="number" />
                <input type="text" class="form-control" name="osSum" mask="number" />
                <button class="btn btn-group btnList" data-table="9">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Coletador</span>
                <input type="text" class="form-control" name="collectorAudit" mask="number" />
                <input type="text" class="form-control" name="collectorNew" mask="number" />
                <input type="text" class="form-control" name="collectorSum" mask="number" />
                <button class="btn btn-group btnList" data-table="3">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Fornecedor</span>
                <input type="text" class="form-control" name="providerAudit" mask="number" />
                <input type="text" class="form-control" name="providerNew" mask="number" />
                <input type="text" class="form-control" name="providerSum" mask="number" />
                <button class="btn btn-group btnList" data-table="7">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Carimbo</span>
                <input type="text" class="form-control" name="stampAudit" mask="number" />
                <input type="text" class="form-control" name="stampNew" mask="number" />
                <input type="text" class="form-control" name="stampSum" mask="number" />
                <button class="btn btn-group btnList" data-table="8">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Médico</span>
                <input type="text" class="form-control" name="doctorAudit" mask="number" />
                <input type="text" class="form-control" name="doctorNew" mask="number" />
                <input type="text" class="form-control" name="doctorSum" mask="number" />
                <button class="btn btn-group btnList" data-table="5">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Agente</span>
                <input type="text" class="form-control" name="agentAudit" mask="number" />
                <input type="text" class="form-control" name="agentNew" mask="number" />
                <input type="text" class="form-control" name="agentSum" mask="number" />
                <button class="btn btn-group btnList" data-table="6">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Usuário</span>
                <input type="text" class="form-control" name="userAudit" mask="number" />
                <input type="text" class="form-control" name="userNew" mask="number" />
                <input type="text" class="form-control" name="userSum" mask="number" />
                <button class="btn btn-group btnList" data-table="11">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Clinica</span>
                <input type="text" class="form-control" name="clinicAudit" mask="number" />
                <input type="text" class="form-control" name="clinicNew" mask="number" />
                <input type="text" class="form-control" name="clinicSum" mask="number" />
                <button class="btn btn-group btnList" data-table="1">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Empréstimos</span>
                <input type="text" class="form-control" name="loanAudit" mask="number" />
                <input type="text" class="form-control" name="loanNew" mask="number" />
                <input type="text" class="form-control" name="loanSum" mask="number" />
                <button class="btn btn-group btnList" data-table="13">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Banco</span>
                <input type="text" class="form-control" name="bankEntriesAudit" mask="number" />
                <input type="text" class="form-control" name="bankEntriesNew" mask="number" />
                <input type="text" class="form-control" name="bankEntriesSum" mask="number" />
                <button class="btn btn-group btnList" data-table="10">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Não Identificado</span>
                <input type="text" class="form-control" name="notIdentifiedAudit" mask="number" />
                <input type="text" class="form-control" name="notIdentifiedNew" mask="number" />
                <input type="text" class="form-control" name="notIdentifiedSum" mask="number" />
                <button class="btn btn-group btnList" data-table="996">Lista</button>
            </div>
            <div class="input-group mt-1">
                <span class="input-group-text">Total</span>
                <input type="text" class="form-control" name="totalAudit" mask="number" />
                <input type="text" class="form-control" name="totalNew" mask="number" />
                <input type="text" class="form-control" name="totalSum" mask="number" />
                <button class="btn btn-group btnList" disabled></button>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-success btnSave">Salvar</button>
            </div>
        </div>
    </div>

    <div class="scrollbar" id="list">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="ps-4">Id</th>
                    <th scope="col">Data</th>
                    <th scope="col">Fechamento</th>
                    <th scope="col">Função</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Clínica</th>
                    <th class="text-end pe-4">Valor</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
