/*.......... GRID SIDEBAR|MAIN */
.body-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
}

/*.......... SIDEBAR INICIO */
.sidebar {
    position: relative;
    width: 220px;
    min-width: 220px;
    height: 100vh;
    color: #fff;
    border-radius: 0 15px 15px 0;
    font-size: 14px;
    background-image: url("../../../img/sidebar_3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #000;

    /*. Icones */
    i {
        font-size: 25px;
        padding-right: 10px;
    }

    .fa-caret-down {
        padding-left: 15px;
        font-size: 15px;
    }

    .components {
        padding: 0 10px;
    }

    li {
        list-style-type: none;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            height: 45px;
            margin-top: 2px;
            padding-left: 10px;
            border-radius: 0 15px 15px 0;
            text-decoration: none;
            border: 1px solid #00000000;
            color: inherit;
            transition: all 0.3s;
            font-size: 1.2em;

            &:hover {
                border: 1px solid #c2c2c2;
            }

            &.pendingRecord {
                background-color: red !important;
            }
        }
    }

    .sel {
        color: var(--cl-wau1);
        background: var(--active-wau1);
    }

    .navbar {
        overflow-x: hidden;
        overflow-y: auto;
        display: none;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background: #555;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .login {
        padding: 0 10px;
    }

    /*. Sub-menu */
    .dropElement {
        max-height: 0px;
        overflow: hidden;

        a {
            font-size: 0.9em;
            height: 30px;
        }
    }

    .linha {
        display: grid;
        grid-template-columns: 40px auto;
        place-items: center;
    }

    .linha2 {
        display: grid;
        grid-template-columns: 40px auto auto;
        place-items: center;

        i:nth-of-type(2) {
            padding-top: 3px;
        }
    }
}
@media (max-width: 1499px) {
    .sidebar {
        width: 55px;
        min-width: 55px;
        font-size: 12px;

        /*. Icones */
        .fas,
        .far,
        .fab,
        .fal,
        .fa-light {
            font-size: 20px;
        }

        .fa-caret-down {
            padding-left: 10px;
            font-size: 15px;
        }

        .components {
            padding: 0 3px;
        }

        li a {
            height: 40px;
        }

        .login {
            padding: 0 3px;
        }
    }
}

/*.......... SIDEBAR FERRAMENTAS */
.sidebarTools {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(#111010, #000);

    .far,
    .fab,
    .fal,
    .fa-light {
        font-size: 20px;
    }

    .btnFather {
        display: flex;
        height: 40px;
        margin: 2px 0;

        .btns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2px;
            width: 100%;
            padding-left: 2px;

            .btn {
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        &.btnSave .btn:not(:disabled) {
            color: orangered;
            border-color: orangered;
        }
    }

    .d_icon,
    .div,
    .btn {
        color: var(--bg-wau1);
        border: 1px solid var(--bg-wau1);
    }

    .d_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 45px;
        margin-right: 3px;
        padding-top: 1px;

        &.icon_on {
            color: orangered !important;
        }
    }

    .f20 {
        font-size: 20px;
    }

    /* .div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 2px;
        font-family: Arial;
        font-size: 17px;
        background: #00000000;
        border-radius: 3px;
    } */

    .btn {
        margin-left: 2px;
        font-family: Arial;
        font-size: 17px;
        background: #00000000;
        border-radius: 3px;

        &.max {
            width: 100%;
        }

        &:hover {
            background: var(--bg-wau1);
            color: var(--cl-wau1);
        }

        &:active {
            position: relative;
            top: 1px;
        }

        &.btn_on {
            color: orangered;
            border-color: orangered;

            &:hover {
                color: #fff !important;
                background: orangered;
                color: var(--col5);
            }
        }
    }

    .message {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 2px;
        font-family: Arial;
        font-size: 17px;
        border-radius: 3px;
    }

    .div input {
        height: 100%;
        color: var(--dinamicColor_1);
    }

    .iconsFooter {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 8px;

        i {
            font-size: 25px;
            cursor: no-drop;
            color: grey;
        }

        .enable {
            cursor: pointer;
            color: #ff440067;
        }

        .active {
            color: orangered;
        }
    }
}
@media (max-width: 1499px) {
    .sidebarTools {
        .btnFather {
            display: flex;
            height: 35px;
            margin: 2px 0;
        }

        .d_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 45px;
            margin-right: 2px;
            padding-top: 1px;
        }

        .btn {
            margin-left: 1px;
            font-size: 15px;
        }

        .iconsFooter i {
            font-size: 25px;
            padding: 0 3px;
        }
    }
}

/*.......... SCROLLBAR */
.scrollbar {
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--scrollbar-track);
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb);
    }
}
