@font-face {
    font-family: OpenSans-Light;
    src: url(../../../plugins/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../../../plugins/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../../../plugins/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../../../plugins/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../../../plugins/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../../plugins/fonts/Roboto-Regular.ttf);
}

:root {
    --bs-font-sans-serif:
        system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --leftRightHeight: calc(100% - 33px);

    /* --smallView: 1499px; */
}

.colorXLight {
    color: var(--colorXLight);
}

.colorLight {
    color: var(--colorLight);
}

.colorMedium {
    color: var(--colorMedium);
}

.colorDark {
    color: var(--colorDark);
}

.colorXDark {
    color: var(--colorXDark);
}

body {
    font-family: Roboto-Light;
    color: var(--txtDark);
    background-color: var(--body) !important;
}

label {
    color: var(--label-color);
}

/* BORDER */
.bdRed {
    border: 1px solid #ff0000;
}

.bdBlack {
    border: 1px solid #000000;
}

.bdBlue {
    border: 1px solid #0000ff;
}

.bdWhite {
    border: 1px solid #ffffff;
}

.bdGrey {
    border: 1px solid #b1b1b1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 98%;
    min-width: 98%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
@media (max-width: 1600px) {
    .container {
        width: 100%;
        min-width: 100%;
        margin: 0;
    }
}

/* OVERLAY */
[js="overlay"] {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

/*.......... OVERLAY COM SPINNER DE ESPERA */
#waitingOverlay {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-left: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    background: var(--waitingOverlay);
    color: #fff;

    .box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        position: absolute;
        width: 10rem;
        height: 10rem;
        vertical-align: -0.125em;
        border: 0.8em solid var(--waitingSpinner);
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: 0.75s linear infinite spinner-border;
        animation: 0.75s linear infinite spinner-border;
    }
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
}

/* OUTROS */
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.disabledColor {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
}

.pointer {
    cursor: pointer;
}

/** NOVO LAYOUT INICIO */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    margin-left: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body) !important;
    transition: margin-left 0.3s ease-in-out;

    &.sidebar-collapsed {
        margin-left: 80px;
    }
}

.row {
    margin: auto;
}

.form-grow {
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--form-grow);
    border: 1px solid var(--border);
    border-top-color: transparent;

    .module-main {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow-y: hidden;

        #headerBar {
            display: flex;
            align-items: center;
            min-width: 100%;
            height: 33px;
            min-height: 33px;
            padding: 0 20px;
            background-color: var(--colorDark);
            color: var(--cl-wau1);

            .title {
                font-size: 18px;
                font-weight: bold;
            }

            .menu {
                align-self: flex-end;
                display: flex;
                justify-content: center;
                gap: 3px;
                height: 100%;
                margin-left: auto;

                .btn {
                    height: 28px;
                    margin-top: auto;
                    padding: 0 10px;
                    border-radius: 5px 5px 0 0;
                    color: var(--cl-wau1);
                    background-color: var(--colorMedium);
                    border: 1px solid #fff;
                    border-bottom: none !important;

                    &:hover:not(.active):not(:disabled) {
                        height: 30px;
                        background-color: var(--hover-wau1);
                    }

                    i {
                        margin-right: 7px;
                    }

                    &.destack {
                        background-color: var(--colorXDark);
                    }
                }
            }
        }

        .left-css {
            flex: 1;
            height: var(--leftRightHeight);
            padding: 20px 0;
            overflow-y: auto;
            border: 1px solid transparent;
        }

        .right-css {
            /* flex: 1; */
            height: var(--leftRightHeight);
            padding: 20px 0;
            overflow-y: auto;
            border-left: 1px solid var(--border);

            /* border: 1px solid transparent; */
        }
    }
}

.border {
    border: 1px solid var(--border);
}

/*.......... TELEFONE COM DDI */
.container-phone {
    display: flex;

    .container-ddi {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 160px;
        padding: 0 5px;
        border-radius: 0.25rem 0 0 0.25rem;
        border: 1px solid var(--input-border);
        cursor: pointer;

        img {
            width: 40%;
        }

        input {
            width: 60%;
            border: none;
            text-align: center;
            cursor: pointer !important;
            background-color: var(--content-bg);
        }
    }

    input {
        border-radius: 0 var(--input-radius) var(--input-radius) 0;
    }
}

/*.......... MENU DO TOPO */
#menuTop {
    display: flex;
    min-height: 45px;
    padding: 0 20px;

    .btn.tab {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        width: 130px;
        height: 35px;
        margin-left: 2px;
        border-radius: 10px 10px 0 0;
        border-bottom: none;
        line-height: 1px;
    }

    .left {
        display: flex;
        align-items: flex-end;
        min-width: 30%;

        .logo {
            width: 150px;
            height: 40px;
            padding-bottom: 3px;

            img {
                height: 100%;
            }
        }

        input {
            width: 100%;
            height: 40px;
            margin-left: 30px;
            padding: 0 20px;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            background-clip: padding-box;
            border-radius: 10px 10px 0 0;
            border: 1px solid var(--colorXDark);
            border-bottom: none;
            color: var(--colorXDark);
        }
    }

    .center {
        margin-top: auto;

        .save-box {
            display: flex;
            margin-top: auto;
            height: 0px;
            margin-left: 5px;
            overflow: hidden;
            transition: height 0.7s ease;

            .btn {
                width: 105px;
                &:disabled {
                    background-color: #535353;
                    color: var(--body);
                    border-color: #535353;
                }
            }

            span {
                color: inherit;
            }
        }
    }

    .right {
        display: flex;

        &.justifyEnd {
            margin-left: auto;
        }

        .btn {
            color: var(--cl-wau1);
            background-color: var(--colorMedium);
            border-color: var(--colorMedium);

            p {
                color: inherit;
            }

            &:hover:not(.active):not(:disabled) {
                background-color: var(--hover-wau1);
            }

            &:disabled {
                background-color: #b1b1b1;
                border-color: #b1b1b1;
            }

            &.active {
                background-color: var(--colorXDark);
                border-color: var(--colorXDark);
            }

            i {
                font-size: large;
            }

            p {
                margin: 0;
            }
        }
    }
}
@media (max-width: 1600px) {
    #menuTop {
        min-height: 40px;

        .left {
            .logo {
                height: 35px;
            }

            input {
                height: 30px;
            }
        }
        .center .tab {
            width: auto;
            font-size: 13px;
        }
        .right .tab {
            width: auto;
            height: 30px;
            font-size: 13px;
        }
    }
}

/*.......... MODAL DE BUSCA DE REGISTRO NO BACKEND */
#modalFind {
    .modal-dialog {
        display: flex;
        justify-content: center;

        .modal-content {
            height: 700px;
            max-height: 90vh;

            .modal-body {
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }

            tbody {
                font-size: 15px;

                tr td {
                    padding: 3px 10px;
                }
            }
        }
    }
}

/*.......... TRAÇO SEPARADOR C/ TITULO */
.form-hr {
    position: relative;
    max-height: 1px;
    border: none;
    border-top: 2px solid Var(--formHr);

    label {
        position: absolute;
        margin: -13px 0 0 20px;
        padding: 0 10px;
        font-size: 18px;
        color: var(--formHrText);
        background-color: var(--form-grow);
    }
}

/*.......... ALTERAÇÕES NO BOOTSTRAP ORIGINAL */
.form-control {
    border: 1px solid var(--input-border);

    &:focus {
        box-shadow: none;
        border-color: var(--borderFofus);
    }

    &::placeholder {
        color: var(--colorXLight);
    }
}

.form-select {
    &:focus {
        box-shadow: none;
        border-color: var(--borderFofus);
    }
}

.input-group {
    .left-spacing {
        margin-left: 1px !important;
    }
}

.wau-select {
    .rounded-start {
        border-radius: 0.375rem 0 0 0.375rem;
        border-right: none;
    }

    .rounded-end {
        border-radius: 0 0.375rem 0.375rem 0;
    }

    ul {
        position: absolute;
        width: 100%;
        max-height: 30vh;
        border: 1px solid rgb(234, 234, 234);
        overflow-y: auto;
        cursor: pointer;

        li {
            border: none;
            padding: 2px 0 2px 5px;
        }
    }

    button {
        width: fit-content;
    }
}

.accordion {
    .accordion-button {
        background-color: var(--accordion-bg);
        border: 1px solid var(--accordion-border);

        &:focus {
            box-shadow: none;
        }

        span {
            font-weight: 600;
            color: var(--colorDark);
        }
    }
}

.color-wau1 {
    color: var(--cl-wau1);
    background-color: var(--bg-wau1);
    border-color: var(--bg-wau1);

    &.btn {
        &.outline {
            color: var(--bg-wau1);
            background-color: transparent;
            border-color: var(--bg-wau1);
        }

        &:hover {
            color: var(--cl-wau1);
            background-color: var(--hover-wau1);
            border-color: var(--bg-wau1);
        }
    }

    &.active {
        background-color: var(--active-wau1);
    }

    &:disabled {
        color: var(--cl-wau1);
        background-color: var(--bs-gray);
        border-color: var(--bs-gray);
    }
}

.color-wau2 {
    color: var(--cl-wau2);
    background-color: var(--bg-wau2);
    border-color: var(--bg-wau2);

    &.btn {
        &.outline {
            color: var(--bg-wau2);
            background-color: transparent;
            border-color: var(--bg-wau2);
        }

        &:hover {
            color: var(--cl-wau2);
            background-color: var(--hover-wau2);
            border-color: var(--bg-wau2);
        }
    }

    &:disabled {
        color: var(--cl-wau1);
        background-color: var(--bs-gray);
        border-color: var(--bs-gray);
    }
}

.color-wau3 {
    color: var(--cl-wau1);
    background-color: var(--colorDark);
    border-color: var(--colorDark);

    &.btn {
        &.outline {
            color: var(--colorDark);
            background-color: transparent;
            border-color: var(--colorDark);
        }

        &:hover {
            color: var(--cl-wau1);
            background-color: var(--colorMedium);
            border-color: var(--colorDark);
        }
    }

    &:disabled {
        color: var(--cl-wau1);
        background-color: var(--bs-gray);
        border-color: var(--bs-gray);
    }
}

.ms--1 {
    margin-left: 1px !important;
}

.toast-container {
    .toast-header {
        background-color: #fff !important;
        color: #fff !important;
    }

    &.success {
        .toast-body {
            background-color: green !important;
            color: #fff !important;
        }
    }

    &.warning {
        .toast-body {
            background-color: rgb(230, 214, 0) !important;
            color: #333333 !important;
        }
    }

    &.danger {
        .toast-body {
            background-color: red !important;
            color: #fff !important;
        }
    }
}

.modal-help {
    max-height: 100vh;
    overflow: hidden;

    .modal-dialog {
        min-width: 90%;
        margin: auto;

        .modal-content {
            background: transparent;
            border: none;

            .modal-header {
                justify-content: space-between;
                background-color: var(--colorDark);
                padding-top: 5px;
                padding-bottom: 5px;
                color: #fff;

                .btn-box {
                    display: flex;
                    justify-content: flex-end;

                    .btn {
                        width: 150px;
                    }
                }
            }

            .modal-body {
                margin: 0;
                padding: 0;
                max-height: 50vh;

                .iframe-box {
                    position: relative;
                    padding-top: 56.25%;
                    overflow: hidden;
                    border: none;

                    iframe {
                        width: 100%;
                        height: 90%;
                        position: absolute;
                        top: -30px;
                    }
                }
            }
        }
    }
}
