:root {
    --body: #ffffff;
    --form-grow: #fafafa;

    --txtLight: #eeeeee;
    --txtMedium: #bbbbbb;
    --txtDark: #747474;

    --colorXLight: #a1fff7ff; /*. placehover etc... */
    --colorLight: #00e7d4ff;
    --colorMedium: #27aba0ff;
    --colorDark: #008080;
    --colorXDark: #006666;
    --colorDestack1: #04ff00ff;
    --colorDestack2: #27aba0ff;

    --accordion-bg: #e7ffef;
    --accordion-border: #d4fde2;

    --borderFofus: #5dbb7b;

    --formHr: #007e6944;
    --formHrText: #007e69;

    --border: #cecece;

    --cl-wau1: #ffffff;
    --bg-wau1: #12ddbb;
    --hover-wau1: #00d1c0ff;
    --active-wau1: #007e69;
    --cl-wau2: #ffffff;
    --bg-wau2: #00b698;
    --hover-wau2: #048f78;
    --active-wau2: #007e69;

    /*. Overlay */
    --waitingOverlay: rgba(255, 255, 255, 0.404);
    --waitingSpinner: orangered;

    /*. Icone de dentro do select|input */
    --form-select-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    --form-control-focus: #86b7fe;

    /*. Label */
    --label-color: #5cb0b4;

    /*. Input */
    --input-border: #dddddd;
    --input-borderRequired: red;

    /*. Scrollbar */
    --scrollbar-track: #d1d1d1;
    --scrollbar-thumb: #adadad;
}
