:root {
    --body: #ffffff;
    --form-grow: #fafafa;

    --txtLight: #acacac;
    --txtMedium: #7e7e7e;
    --txtDark: #474747;

    --colorXLight: #e6acda; /*. placehover etc... */
    --colorLight: #fd5fb3;
    --colorMedium: #bd0667;
    --colorDark: #830046;
    --colorXDark: #3f142b;
    --colorDestack1: #ff0088ff;
    --colorDestack2: #ff0088ff;

    --accordion-bg: #ffe6fb;
    --accordion-border: #ffc1f5;

    --borderFofus: #ffa0d3;

    --formHr: #cc107450;
    --formHrText: #cc1075;

    --border: #cecece;

    --cl-wau1: #ffffff;
    --bg-wau1: #ff80c3;
    --hover-wau1: #df0d7d;
    --active-wau1: #cc1075;
    --cl-wau2: #ffffff;
    --bg-wau2: #ff41a6;
    --hover-wau2: #d40071;
    --active-wau2: #bd0667;

    /*. Overlay */
    --waitingOverlay: rgba(255, 255, 255, 0.404);
    --waitingSpinner: #bd0667;

    /*. Icone de dentro do select|input */
    --form-select-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    --form-control-focus: #ff41a6;

    /*. Label */
    --label-color: #9e4e79;

    /*. Input */
    --input-border: #dddddd;
    --input-borderRequired: red;

    /*. Scrollbar */
    --scrollbar-track: #d1d1d1;
    --scrollbar-thumb: #adadad;
}
