:root {
    --body: #ffffff;
    --form-grow: #fafafa;

    --txtLight: #eeeeee;
    --txtMedium: #bbbbbb;
    --txtDark: #747474;

    --colorXLight: #c9c9c9; /*. placehover etc... */
    --colorLight: #a0a0a0;
    --colorMedium: #646464;
    --colorDark: #424242;
    --colorXDark: #353535;

    --accordion-bg: #ececec;
    --accordion-border: #dfdfdf;

    --borderFofus: #949494;

    --formHr: #77777748;
    --formHrText: #666666;

    --border: #cecece;

    --cl-wau1: #ffffff;
    --bg-wau1: #b4b4b4;
    --hover-wau1: #929292;
    --active-wau1: #777777;
    --cl-wau2: #ffffff;
    --bg-wau2: #a7a7a7;
    --hover-wau2: #929292;
    --active-wau2: #777777;

    /*. Overlay */
    --waitingOverlay: rgba(255, 255, 255, 0.404);
    --waitingSpinner: orangered;

    /*. Icone de dentro do select|input */
    --form-select-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    --form-control-focus: #86b7fe;

    /*. Label */
    --label-color: #707070;

    /*. Input */
    --input-border: #dddddd;
    --input-borderRequired: red;

    /*. Scrollbar */
    --scrollbar-track: #d1d1d1;
    --scrollbar-thumb: #adadad;
}
