main {
    background: var(--cl5);
    height: 100vh;
    overflow: hidden;
}


/* GRÁFICO */
.f_graphic {
    flex-wrap: wrap;
    padding-top: 10px;
}

.f_chart1 {
    width: 100%;
}

#chart {
    background: #181924;
}