<div class="container d-flex vh-100 pb-2" style="flex-direction:column">
    <!-- GRÁFICO -->
    <!-- <div class="f_graphic">
            <div class="f_chart1">
                <div id="chart1"></div>
            </div>
        </div> -->

    <!-- LISTA -->
    <div id="list">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Sessões</th>
                    <th scope="col">Timer</th>
                    <th scope="col">Zap</th>
                    <th scope="col">Videos</th>
                    <th scope="col">Tela</th>
                    <th scope="col">Simulador</th>
                    <th scope="col">SO</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">País</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>