<style>
    .modal-find .modal-box {
        top: 5%;
        padding: 15px;
        padding-bottom: 30px;
    }

    .modal-find .modal-search {
        display: flex;
        margin: 20px 0;
    }

    .modal-find .modal-search .input-box {
        display: flex;
        position: relative;
        width: 100%;
    }

    .modal-find .modal-search .inputSearch {
        margin: 0;
        padding: 6px 10px;
        padding-right: 35px;
        font-size: 1.3rem;
        color: #333;
        background-color: #fff;
    }

    .modal-find .modal-search .inputSearch:focus {
        border: 1px solid #ccc;
    }

    .modal-find .modal-search .btn-inputClear {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border: 0;
        opacity: 0.8;
        background-color: transparent;
        cursor: pointer;
    }

    .modal-find .modal-search .btn-inputClear:disabled {
        cursor: default;
        opacity: 0.3;
    }

    .modal-find .modal-search .btn-inputClear i {
        font-size: 25px;
        color: orangered;
    }
    .modal-find .modal-search .bnt-SearchMain {
        display: flex;
        align-items: center;
        width: 50px;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 25px;
    }
</style>

<div class="modal-box">
    <button class="btn-close exit"><i class="fas fa-times"></i></button>

    <div class="form-hr mt-3 me-5">
        <label>TEMPLATE</label>
    </div>
    <div class="modal-search">
        <div class="input-box">
            <input type="text" class="form-control inputSearch" />
            <button class="btn-inputClear" disabled><i class="fas fa-step-backward"></i></button>
        </div>
        <button class="btn btn-group bnt-SearchMain"><i class="fa-light fa-server"></i></button>
    </div>
    <div class="modal-table scrollbar mt-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 40px">Id</th>
                    <th scope="col" class="col2">Template</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="footer d-none">
        <button class="btn green btn1"></button>
        <button class="btn green btn2"></button>
    </div>
</div>
