<div class="main">
    <!--. Background Image -->
    <div class="img-box" style="background-image: url(&quot;<?=$image?>&quot;)"></div>

    <!--. Dark overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100 z-0 bg-overlay pointer-events-none"></div>

    <!--. Matrix Effect Container -->
    <!--. width: 35% agora é relativo à tela inteira, cobrindo a esquerda -->
    <div class="position-absolute top-0 bottom-0 start-0 z-1 pointer-events-none fade-mask" style="width: 35%">
        <canvas id="matrixCanvas" class="w-100 h-100 opacity-50"></canvas>
    </div>

    <!--. Box da direita -->
    <div class="box-main">
        <!--. Box de login -->
        <div class="box-login">
            <div class="content">
                <h5>Usuário: <?= session()->log_userName ?></h5>
                <h5>Clinica: <?= session('clinic')['nameSocial'] ?></h5>
                <h5 class="logout"><i class="fa-light fa-person-from-portal me-2"></i>Sair</h5>
            </div>
        </div>

        <!--. Box de opções de temas -->
        <div class="box-color">
            <div class="title">SELEÇÃO DE TEMAS:</div>
            <div class="options">
                <div class="verde" data-color="verde"></div>
                <div class="azul" data-color="azul"></div>
                <div class="vinho" data-color="vinho"></div>
                <div class="rosa" data-color="rosa"></div>
            </div>
        </div>

        <div class="box-logo">
            <!--. Logo -->
            <img class="logo" src="<?=$logo?>" />

            <!--. IA -->
            <img class="ia" src="<?=$ia?>" />
        </div>
    </div>
</div>
