main {
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--cl2);
    color: #fff;
    font-family: Roboto-Regular;
}

.container {
    max-width: 500px;
    padding: 5vh 50px 0;
}

.d_img {
    display: flex;
    min-width: 100%;
    height: 40vh;
}

img {
    height: 100%;
    margin: auto;
}

.message {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    color: #ff4500;
}

.f_btn {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.btn {
    padding: 15px 0;
    font-size: 25px;
}

.btnRemarc,
.btnCancel {
    margin-top: 20px;
}


@media (max-width: 768px) {
    .container {
        padding: 5vh 10px;
    }

    .d_img {
        min-width: 100%;
        height: 30vh;
    }
}

@media (max-width: 330px) {
    .container {
        padding: 5vh 10px;
    }

    .d_img {
        min-width: 100%;
        height: 30vh;
    }

    .message {
        font-size: 15px;
    }

    .btn {
        padding: 10px 0;
        font-size: 15px;
    }
}