.content03 {
    /* height: 600px; */
    padding: 50px 0;
    background-color: #fff;
    /* border: 1px solid gray; */

    .container {
        display: flex;
        border-radius: 10px;
        border: 1px solid gray;

        .left {
            width: 50%;
            /* border: 1px solid red; */

            .img-box {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 0 40px;

            h2 {
                text-align: center;
                color: #00d1b2;
            }

            p {
                margin-top: 50px;
                line-height: 2;
                text-align: justify;
                color: #102a43;
            }
        }
    }
}

@media (max-width: 768px) {
    .content03 {
        padding: 10px 0;

        .container {
            flex-direction: column;
            gap: 10px !important;

            .left {
                width: 100% !important;
            }

            .right {
                width: 100% !important;
                padding: 0 !important;

                h2 {
                    font-size: 30px;
                    text-align: center;
                }

                p {
                    padding: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

/* @media (max-width: 480px) {
    .content03 {
        padding: 10px;
    }

    .content03 h2 {
        font-size: 1.2rem;
    }
} */
