.rowTop {
    /* height: 600px; */
    padding: 100px 0 50px 0;
    background-color: #fff;
    /* border: 1px solid gray; */

    .container {
        .myrow {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            .mycol {
                display: flex;
                justify-content: center;
                flex: 1;

                .card {
                    border: 1px solid gray;

                    h5 {
                        color: #00d1b2;
                    }

                    p {
                        color: #102a43;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .rowTop {
        .myrow {
            flex-direction: column;
            gap: 40px !important;

            .mycol {
                width: 100% !important;
            }
        }
    }
}
