.videoTop {
    position: relative;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    color: #fff;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .logo-wau {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 10vw;

        img {
            width: 100%;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        width: 50%;
        text-align: left;
        container-type: inline-size;

        h1 {
            width: 100%;
            font-size: 6cqi;
            font-weight: bold;

            b {
                color: #00d1b2;
            }
        }
    }
}

@media (max-width: 768px) {
    .videoTop {
        height: 85vh;

        video {
            height: 100%;
        }

        .logo-wau {
            top: 50px;
            right: 50px;
            width: 30vw;

            img {
                width: 100%;
            }
        }

        .content {
            top: 50%;
            left: 35%;
            width: 50%;

            h1 {
                width: 100%;
                font-size: 12cqi;
                font-weight: bold;

                b {
                    color: #00d1b2;
                }
            }
        }
    }
}
