/*.......... CADASTRO */
#register {
    .time {
        display: flex;
        gap: 20px;
        padding: 0 27px;
    }

    .workTime {
        display: flex;
        justify-content: center;
        width: 400px;
        gap: 10px;
        border-radius: 5px;
        border: 1px solid gray;

        p {
            position: absolute;
            margin-top: -12px;
            padding: 0 5px;
            color: var(--colorDark);
            background: var(--form-grow);
        }

        div {
            width: 140px;
            margin-top: 15px;
        }
    }

    .weekTime {
        display: flex;
        justify-content: start;
        width: 100%;
        gap: 10px;
        padding: 0 10px 10px;
        border-radius: 5px;
        border: 1px solid gray;

        p {
            position: absolute;
            margin-top: -12px;
            padding: 0 5px;
            color: var(--colorDark);
            background: var(--form-grow);
        }

        div {
            width: 140px;
            margin-top: 15px;

            &:nth-of-type(3) {
                margin-left: 30px;
            }
        }

        select {
            padding-right: 50px;
        }
    }

    .sistem {
        display: flex;
        gap: 20px;
        padding: 0 27px;
    }

    .dddDefault {
        display: flex;
        justify-content: center;
        width: 400px;
        gap: 10px;
        padding: 0 10px 10px;
        border-radius: 5px;
        border: 1px solid gray;

        .container-ddi {
            width: 104px;
            height: 38px;
            overflow: hidden;
            border-radius: 5px;
        }
    }
}

/*.......... IMAGENS */
#image {
    overflow-y: auto;
    border: 1px solid blue;

    .content {
        padding: 20px;

        .logo {
            display: flex;
            flex-direction: column;
            width: 250px;
            padding-bottom: 20px;
            border: 1px solid red;

            .title {
                font-size: 20px;
                padding: 10px 0;
                text-align: center;
            }

            .image {
                display: flex;
                width: 100%;
                position: relative;
                overflow: hidden;

                i {
                    align-self: center;
                    margin: 0 auto;
                    font-size: 150px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .cropper {
        width: 100%;
        height: 50%;

        .cropper-img {
            margin: 0 auto;
            width: 70%;
        }

        .btn label {
            color: #fff !important;
        }
    }
}
