#md5 {
    width: 750px;
    height: 95%;
    background: none;
    color: #fff;
}

#md5 .modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #285458;
}

#md5 .title_div {
    background: var(--cl2);
    color: #fff;
    padding: 8px 0 8px 15px;
    margin-bottom: 10px;
    border: var(--cl2);
    border-radius: 5px 5px 0 0;
}


/*.f_in */
#md5 .f_in {
    border-radius: 5px;
}

#md5 .f_bank_entry {
    display: flex;
    justify-content: center;
}

#md5 .f_bank_entry .bank_grid {
    display: grid;
    grid-template-columns: 40px 150px 240px 110px 40px;
    gap: 2px;
    margin-bottom: 10px;
}

#md5 .bank_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#md5 .bank_list .bank_grid {
    display: grid;
    grid-template-columns: 40px 150px 240px 110px 40px;
    gap: 2px;
    margin-bottom: 3px;
}

#md5 .f_in .f_total {
    justify-content: center;
}

#md5 .f_in .f_total>div {
    display: grid;
    grid-template-columns: 40px 150px 240px 110px 40px;
    gap: 2px;
}

#md5 .f_in .f_total>div .total {
    display: flex;
    grid-column: 3/4;
    justify-content: end;
    padding-right: 10px;
    font-weight: bold;
}

#md5 .f_in .f_total>div .total p {
    align-self: center;
    color: #fff;
}

#md5 .f_in .f_total>div .value {
    grid-column: 4/5;
}


/*.f_out */
#md5 .f_out {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    border-radius: 5px;
    overflow: hidden;
}

#md5 .f_out .title_div {
    display: grid;
    grid-template-columns: 1fr 150px 90px;
}

#md5 .title_link_os,
#md5 .title_link_expense {
    cursor: pointer;
}

#md5 .scrollbar {
    overflow: auto;
}

#md5 .os_grid {
    display: grid;
    grid-template-columns: 40px .8fr 3fr 100px 40px;
    gap: 2px;
    margin-bottom: 3px;
}

#md5 .expense_grid {
    display: grid;
    grid-template-columns: 40px 1fr 2fr 100px 40px;
    gap: 2px;
    margin-top: 3px;
}

#md5 .os_input,
#md5 .expense_input {
    display: none;
}

#md5 .btnToggleSelect {
    cursor: pointer;
}

#md5 .add_on {
    display: grid;
}

#md5 .link_on {
    color: #ff4500;
}

#md5 .f_out .f_total>div {
    display: grid;
    grid-template-columns: 40px .8fr 3fr 100px 40px;
    gap: 2px;
    width: 100%;
}

#md5 .f_out .f_total>div .total {
    display: flex;
    grid-column: 3/4;
    justify-content: end;
    padding-right: 10px;
    font-weight: bold;
}

#md5 .f_out .f_total>div .total p {
    align-self: center;
    color: #fff;
}

#md5 .f_out .f_total>div .value {
    grid-column: 4/5;
}


/*.ICONES DE f_in E f_out */
#md5 .value,
#md5 .total_value {
    text-align: end;
}

#md5 .f20 {
    font-size: 20px;
}

#md5 .f25 {
    font-size: 25px;
}

#md5 .f33 {
    font-size: 33px;
}

#md5 .f20,
#md5 .f25,
#md5 .f33 {
    cursor: pointer;
    color: #ff4500;
}


/*.RODAPÉ */
#md5 .f_footer {
    display: flex;
    justify-content: end;
    margin-top: auto;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
}

#md5 .f_footer .btn.active {
    color: orangered;
}

#md5 .f_footer .btnExit {
    margin-right: auto;
}