.div1 {
    width: 300px;
    height: 300px;
    overflow: hidden;

    color: #fff;
    border: 1px solid blue;
}

.div1 img {
    width: 100%;
    height: 100%;
}

#janela {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
    padding: 10px;
    box-sizing: border-box;
}