#menuTop {
    .right {
        .btn.tab {
            width: 180px;
        }
    }
}

.img-box {
    .img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
        }
    }
}
