<!--+ BARRA DE NAVEGAÇÃO -->
<div id="headerBar">
    <div class="title">
        <i class="fa-light fa-user me-3"></i>
        <span>Configurações de Usuários</span>
    </div>
    <div class="menu">
        <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Usuário</button>
        <button class="btn btn-headerBar new"><i class="fa-light fa-folder-plus"></i>Novo Usuário</button>
        <button class="btn btn-headerBar delete"><i class="fa-light fa-trash-can"></i>Deleta Usuário</button>
    </div>
</div>

<!--+ ESQUERDA -->
<div class="left left-css">
    <div class="logout-box">
        <span>Usuário logado:</span>
        <button class="btn btn-danger logout ms-2">Sair do sistema</button>
    </div>

    <div class="login-info">
        <div class="title mt-3">
            <span>Dados do login</span>
        </div>
        <div class="row">
            <div class="col-8">
                <label>email</label>
                <input type="text" class="form-control" name="email_login" />
            </div>
            <div class="col">
                <label>senha</label>
                <input type="text" class="form-control" name="password" />
            </div>
        </div>
    </div>

    <div class="register">
        <div class="title mt-3">
            <span>Dados cadastrais</span>
        </div>
        <div class="row">
            <div class="col">
                <label>Nome completo</label>
                <input type="text" class="form-control" name="name" />
            </div>
            <div class="col-2">
                <label>Prefixo</label>
                <input type="text" class="form-control" name="prefix" />
            </div>
            <div class="col-3">
                <label>Nome social</label>
                <input type="text" class="form-control" name="name_social" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <label>Email p/ assinaturas</label>
                <input type="text" class="form-control" name="email_signature" />
            </div>
            <div class="col-6">
                <label>Email pessoal</label>
                <input type="text" class="form-control" name="email_personal" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Celular (pessoal)</label>
                <input type="text" class="form-control" name="celular" />
            </div>
            <div class="col-4">
                <label>Celular (sistema)</label>
                <input type="text" class="form-control" name="" />
            </div>
            <div class="col-4">
                <label>Celular (auxiliar)</label>
                <input type="text" class="form-control" name="" />
            </div>
        </div>
    </div>
</div>

<!--+ DIREITA -->
<div class="right right-css">
    <div class="theme">
        <div class="title mt-3">
            <span>Tema do sistema</span>
        </div>
        <div class="btn-box">
            <button class="btn azul" data-color="azul">Azul</button>
            <button class="btn verde" data-color="verde">Verde</button>
            <button class="btn vinho" data-color="vinho">Vinho</button>
            <button class="btn rosa" data-color="rosa">Rosa</button>
        </div>
    </div>
</div>
