<div class="container"></div>

<div class="popup modalEdit">
    <div class="modal px-3 py-2">
        <div class="form-hr mt-4 mb-2">
            <label>Edita:</label>
        </div>

        <div class="input">
            <label>Mensagem</label>
            <input type="text" class="form-control" name="message" autocomplete="off" />
            <input type="hidden" name="id" />
            <input type="hidden" name="idFather" />
        </div>

        <div class="d-flex justify-content-end mt-4 mb-3 pe-2">
            <button class="btn btn-group w-25 btnSave">Salvar</button>
            <button class="btn btn-group w-25 ms-2 btnCancel">Cancelar</button>
        </div>
    </div>
</div>
