main {
    background: var(--cl2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #2CA389 !important;
    font-size: 30px;
}

textarea {
    resize: none;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: justify;
}

textarea:disabled {
    background: #fff;
    color: rgb(66, 66, 66);
}