.container {
    max-width: 100%;
    width: 95%;
    height: 100%;
}

.f_menuTop .right .tab {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 140px;
    height: 40px;
    margin-left: 2px;
    padding-left: 10px;
    border-radius: 10px 10px 0 0;
    background: var(--cl4);
    color: #fff;
    cursor: pointer;
}

.f_menuTop .right .tab:hover,
.f_menuTop .right .active {
    background: var(--cl1);
}

.f_menuTop .right .tab:nth-child(1):hover {
    background: #a400d6 !important;
}

.f_procedures .tab {
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: flex-end;
    width: 190px;
    height: 45px;
    margin-left: 2px;
    padding-left: 10px;
    border-radius: 10px 10px 0 0;
    background: rgba(255, 68, 0, 0.534);
    color: #fff;
    cursor: pointer;
}

.f_procedures .tab:hover,
.f_procedures .active {
    background: orangered;
}

.f_procedures .list {
    display: grid;
    grid-template-columns: 70px 1fr 50px 130px 130px;
    gap: 5px 10px;
    color: #fff
}

.f_procedures .list div {
    padding: 3px;
    border: 1px solid #646464;
}

.f_procedures .td_number {
    text-align: end;
}