<style>
    .user_permission_menu_module .modal-box {
        width: 450px;
        border-radius: 1px;
    }

    .user_permission_menu_module thead th {
        font-size: 15px;
        color: #fff !important;
    }

    .user_permission_menu_module tbody td,
    .user_permission_menu_module tbody th {
        color: #fff !important;
        background: #192b33 !important;
        border-color: #666060 !important;
    }
</style>

<div class="modal-box">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th class="col-2">Ação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="d-flex justify-content-around my-1">
        <button class="btn btn-group w-35 exit">Sair</button>
    </div>
</div>
