/*.......... PRONTUÃRIOS */
/* #record {
    color: var(--txtDark);
    .left {
        flex: 1;
        padding: 20px 3%;
        /* border: 1px solid red; */

        .list-box {
            margin-top: 10px;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid var(--border);
            box-shadow:
                0 2px 4px rgba(0, 0, 0, 0.18),
                3px 0 4px rgba(0, 0, 0, 0.12);

            .list-item {
                display: flex;
                background-color: #e0e0e0;

                > div {
                    padding: 10px 20px;

                    span {
                        font-weight: bold;
                        color: var(--colorDark);
                    }

                    .iconDown {
                        margin-left: auto;
                        margin-top: 10px;
                        font-size: 30px;
                        cursor: pointer;
                        color: var(--colorLight);
                    }
                }
            }

            .card {
                min-height: 10rem;
                padding: 20px 50px;
                border: none;

                .visually-hidden {
                    font-size: 300px;
                }
                .spinner-border {
                    min-width: 7rem;
                    min-height: 7rem;
                    font-size: 50px;
                    color: var(--waitingSpinner);
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .right {
        width: 500px;
        padding: 20px;
        border-left: 1px solid var(--border);

        .patient {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--border);

            span {
                width: 110px;
            }
        }
    }

    .new-main {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-bottom: 10%;
        /* border: 1px solid red; */

        .modal-box {
            padding: 50px;
            border-radius: 10px;

            label {
                margin-bottom: 5px;
            }

            .select {
                width: 300px;
                margin-top: 3%;
                /* border: 1px solid red; */
            }

            #as_procedure {
                display: block;
            }
        }
    }
} */

/*.......... DOCUMENTOS */
/* #document {
    .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 300px);
        gap: 10px;
        padding: 10px;
        margin: 10px;
        margin-bottom: 0;
        overflow: auto;
    }

    .d_image {
        position: relative;
        width: 100%;
        height: 300px;
        border-radius: 7px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        .d_icon {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 4px 8px;
            border-radius: 0 13px;
            font-size: 25px;
            cursor: pointer;
            background: red;
            color: #ff4500;
        }
    }

    .border.new {
        padding: 0;
        border-radius: 7px;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 20px;
            overflow: hidden;
            color: red;

            .qrcode {
                width: 50%;
                aspect-ratio: 2/2;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                margin-top: 8%;
                padding: 0 30px;
                text-align: center;
                line-height: 1.5;
            }
        }
    }
} */
@media (max-width: 1600px) {
    /* #document {
        .new {
            label {
                .qrcode {
                    width: 70%;
                }

                .text {
                    padding: 0;
                    text-align: center;
                }
            }
        }
    } */
}

/*.......... FINANCEIRO */
#statement {
    display: flex;

    .list {
        width: 800px;
        border-right: 1px solid gray;

        th.short {
            width: 0;
        }

        .tools {
            width: 20%;
        }
    }

    .tools {
        flex: 1;
        padding: 20px;

        .infos {
            /* display: flex;
            flex-direction: column;
            height: 100%;
            padding: 20px;
            border-radius: 10px;
            background-color: var(--modal-background);
            color: red;

            .roww {
                display: flex;
                gap: 10px;

                div {
                    flex: 1;
                    padding: 0;
                }
            } */
        }
    }
}

.orange {
    color: orangered;
}

.txt-c {
    text-align: center;
}
