<!--+ BARRA DE NAVEGAÇÃO -->
<div id="headerBar">
    <div class="title">
        <i class="fa-light fa-user me-3"></i>
        <span>Cadasro de Usuários</span>
    </div>
    <div class="menu">
        <button class="btn btn-headerBar search"><i class="fa-light fa-folder-open"></i>Busca Usuário</button>
        <button class="btn btn-headerBar new"><i class="fa-light fa-folder-plus"></i>Novo Usuário</button>
        <button class="btn btn-headerBar delete"><i class="fa-light fa-trash-can"></i>Deleta Usuário</button>
    </div>
</div>

<!--+ ESQUERDA -->
<div class="left left-css">
    <div class="row px-3">
        <div class="col-4">
            <label>Nome completo</label>
            <input type="text" class="form-control" name="name" mask="string" mask-type="3" required />
        </div>
        <div class="col-1">
            <label>Prefixo</label>
            <select class="form-select" name="name_prefix" id="name_prefix" required>
                <option selected></option>
                <option value="Sr.">Sr.</option>
                <option value="Sra.">Sra.</option>
                <option value="Dr.">Dr.</option>
                <option value="Dra.">Dra.</option>
                <option value="none">Ocultar</option>
            </select>
        </div>
        <div class="col-3">
            <label>Nome social</label>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    name="name_social"
                    mask="string"
                    mask-type="3,5"
                    autocomplete="new-password"
                    required
                />
                <button class="btn color-wau1 btnNameShort" title="Gera automaticamente">
                    <i class="fa-light fa-arrows-rotate"></i>
                </button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-2">
            <label>Registro</label>
            <input type="text" class="form-control text-center" js="displayId" readonly />
        </div>
    </div>
    <div class="row pt-3 px-3">
        <div class="col-3">
            <label>DDI - Telefone</label>
            <div class="d-flex gap-1">
                <input
                    type="text"
                    class="form-control text-center"
                    name="phone_ddi"
                    mask="phone"
                    mask-type="ddi"
                    placeholder="55"
                    style="width: 55px"
                    required
                />
                <input
                    type="text"
                    class="form-control"
                    name="phone_number"
                    mask="phone"
                    placeholder="11 99999-9999"
                    required
                />
            </div>
        </div>
        <div class="col-5">
            <label>Email</label>
            <input type="email" class="form-control" name="email" mask="email" required />
        </div>
        <div class="col">
            <label>Clínica de cadastro</label>
            <input type="hidden" name="id_clinic" />
            <div class="input-group">
                <input type="text" class="form-control" name="nm_clinic" readonly />
                <button class="btn color-wau1 btnClinic"><i class="fa-light fa-folder-open"></i></button>
            </div>
        </div>
    </div>
    <div class="row pt-3 px-3">
        <div class="col-3">
            <label>RG</label>
            <input type="text" class="form-control" name="rg" />
        </div>
        <div class="col-3">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf" mask="cpf" />
        </div>
        <div class="col-3">
            <label>CRM</label>
            <input type="text" class="form-control" name="crm" />
        </div>
        <div class="col-3">
            <label>Nascimento</label>
            <input type="date" class="form-control" name="birthday" />
        </div>
    </div>
    <div class="row pt-3 px-3">
        <div class="col-2">
            <label>CEP</label>
            <input type="text" class="form-control" name="address_zip" id="address_zip" mask="zip" />
        </div>
        <div class="col-6">
            <label>Endereço</label>
            <input type="text" class="form-control" name="address" mask="string" mask-type="3" />
        </div>
        <div class="col-2">
            <label>Número</label>
            <input type="text" class="form-control" name="address_number" />
        </div>
        <div class="col-2">
            <label>Complemento</label>
            <input type="text" class="form-control" name="address_complement" />
        </div>
    </div>
    <div class="row pt-3 px-3">
        <div class="col-4">
            <label>Bairro</label>
            <input type="text" class="form-control" name="address_neighb" data-lpignore="true" mask="string" mask-type="3" />
        </div>
        <div class="col-4">
            <label>Cidade</label>
            <input type="text" class="form-control" name="address_city" mask="string" mask-type="3" />
        </div>
        <div class="col-2">
            <label>Estado</label>
            <input type="text" class="form-control" name="address_state" mask="string" mask-type="1" />
        </div>
        <div class="col-2">
            <label>País</label>
            <input type="text" class="form-control" name="coutry" mask="string" mask-type="1" />
        </div>
    </div>
    <div class="row pt-4 px-3">
        <div class="form-hr mb-3">
            <label>Login de acesso:</label>
        </div>
        <div class="row p-0">
            <div class="col-2">
                <label>Usuário</label>
                <input type="text" class="form-control" name="username" mask="string" mask-type="2" />
            </div>
            <div class="col-6">
                <label>Senha</label>
                <div class="form-group">
                    <input type="text" class="form-control text-center pt-2 pb-0" id="passwordfake" disabled />
                    <button class="btn btn-group btnTemporaryPassword px-3">Senha provisória</button>
                    <input type="hidden" name="status" />
                    <button class="btn btn-group passwordRecover px-1 ms-2" style="width: 150px; border: none">
                        Recuperar senha
                    </button>
                    <button class="btn btn-group btnActive px-1 ms-2" style="width: 150px; border: none">
                        Usuário ativo
                    </button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row pt-4 px-3 btn-box">
        <div class="form-hr mb-3">
            <label>Atividades:</label>
        </div>
        <div class="btn-group activityList"></div>
    </div>
</div>
