body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    padding: 15vh 25%;
    overflow: hidden;

    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    /* border: 1px solid blue; */
}

main {
    height: 100%;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid #aaaaaa;

    display: flex;

    .content-box {
        width: 50%;

        .btn-primary {
            --bs-btn-bg: #6d28d9;
            --bs-btn-border-color: #6d28d9;
            --bs-btn-hover-bg: #5b21b6;
            --bs-btn-hover-border-color: #5b21b6;
            --bs-btn-active-bg: #4c1d95;
            --bs-btn-active-border-color: #4c1d95;
        }

        .form-control {
            border: 1px solid #a5b4fc;

            .form-control:focus {
                border-color: #a5b4fc;
                box-shadow: 0 0 0 0.25rem rgba(109, 40, 217, 0.25);
            }
        }

        .box-validate {
            margin-top: 5px;
            margin-left: 20px;

            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                color: orange;

                &.validate {
                    color: green !important;
                }
            }
        }
    }

    .img-box {
        width: 50%;
        height: 100%;
        position: relative;

        h2,
        p {
            color: white;
        }
    }
}

.pointer {
    cursor: pointer;
}

.img-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.toast-container {
    .toast-header {
        background-color: gray;
    }

    .toast-body {
        background-color: red;
        color: white;
    }
}

@media (max-width: 1600px) {
    body {
        padding: 5px 17%;
    }
}

@media (max-width: 760px) {
    body {
        padding: 20% 5px;
    }

    .content-box {
        width: 100% !important;
        /* border: 1px solid red; */
    }

    .img-box {
        display: none;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;

    input {
        padding-right: 40px;
    }

    i {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #6d28d9;
        z-index: 10;
    }
}

/* Hide native password reveal button in Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
