<div data-mouseover="false">
    <div class="mt-2">
        <?php
        echo view('sidebar/templates/buttons/_search.html', ['btnTxt'=>'Busca Conteúdo']);
        echo view('sidebar/templates/buttons/_new.html', ['btnTxt'=>'Novo Conteúdo']);

        echo view('sidebar/templates/buttons/_generic.html', [
            'btnTxt'=>'Checa Conteúdo',
            'btnFather'=>'',
            'btnIcon'=>'far fa-check-square',
            'btnName'=>'btnCheck',
        ]);

        echo view('sidebar/templates/buttons/_generic.html', [
            'btnTxt'=>'Duplica Conteúdo',
            'btnFather'=>'',
            'btnIcon'=>'far fa-check-square',
            'btnName'=>'btnDuplicate',
        ]);

        echo view('sidebar/templates/buttons/_update.html', ['btnTxt'=>'Salvar']);
        ?>

    </div>
</div>