<div class="container">
    <!--: MENU TOPO -->
    <div id="menuTop">
        <!--+ Left -->
        <?=$this->include("templates/menuTopLeft.html")?>
        <!--+ Right -->
        <div class="right">
            <input type="text" class="id bdRed" name="id" readonly />
            <div class="btn_register tab">
                <p>Cadastro</p>
            </div>
        </div>
    </div>

    <!--: CADASTRO -->
    <div class="form-grow" id="register">
        <div class="form-hr mt-4 mb-2 mx-3">
            <label>Dados da Ads:</label>
        </div>
        <div class="row pt-2 px-3">
            <div class="col-6">
                <label>Nome</label>
                <input type="text" class="form-control" name="name" mask="string" mask-type="3" />
            </div>
            <div class="col-1">
                <label>ID</label>
                <input type="text" class="form-control" name="id" readonly />
            </div>
        </div>

        <div class="row pt-3 px-3">
            <div class="col-2">
                <label>Data</label>
                <input type="date" class="form-control" name="birthday" />
            </div>
        </div>
    </div>
</div>
