<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Cropper Test</title>

        <link rel="stylesheet" href="<?= base_url('assets/css/cropper/cropper.min.css') ?>" />

        <style>
            #image {
                max-width: 100%;
                max-height: 40vh;
            }
        </style>
    </head>

    <body>
        <div class="cropper-main">
            <h2>Teste de Cropper.js</h2>
            <img id="image" src="<?= base_url('img/zapOff.jpg') ?>" />

            <!-- Input de imagem -->
            <input type="file" id="inputImage" />

            <!-- Área da imagem -->
            <img id="image" style="max-width: 100%; display: none" />

            <!-- Botão para recortar -->
            <button id="cropButton">Recortar</button>

            <!-- Botão para enviar imagem -->
            <button id="sendImage">Enviar imagem</button>

            <!-- Botão para enviar imagem -->
            <button id="teste">Teste</button>

            <!-- Exibir imagem recortada -->
            <div>
                <h3>Imagem Recortada:</h3>
                <canvas id="croppedResult"></canvas>
            </div>

            <script>
                const varJS = {};
                varJS.localhost = "teste";
            </script>
            <script src="<?= base_url('assets/js/global/global.js') ?>"></script>
            <script src="<?= base_url('assets/js/cropper/cropper.min.js') ?>"></script>
            <script src="<?= base_url('assets/js/cropper/cropper.js') ?>"></script>
        </div>
    </body>
</html>
