<style>
    .modal-entry .modal-box {
        width: 550px;
        padding: 30px;
    }

    .modal-entry .title_align_center {
        position: absolute;
        margin-left: 15px;
        margin-top: -10px;
        padding: 0 10px;
        color: var(--modal-label);
        background: var(--modal-background);
    }
</style>

<!-- MENU -->
<div class="modal-box" id="bankMenu">
    <button class="btn-close exit"><i class="fas fa-times"></i></button>

    <div class="form-hr me-5">
        <label>Menu de Lançamentos</label>
    </div>

    <div class="px-2 py-2">
        <div class="title_border mt-2">
            <div class="title_align_center">Clínica</div>
            <div class="pt-2">
                <div class="msg_template"></div>
            </div>
            <div class="clinics_btns row justify-content-center pb-3"></div>
        </div>
    </div>
    <div class="px-2 py-2">
        <!-- PAGAMENTOS -->
        <div class="title_border mt-2">
            <div class="title_align_center">Pagamentos</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnCooperatorOut">Comissão Colaborador</button>
                </div>
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnProviderOut">Fornecedor</button>
                </div>
                <div class="col-6 px-1 mt-2">
                    <button class="btn btn-primary w-100" id="btnLoanOut">Empréstimo</button>
                </div>
            </div>
        </div>
        <!-- DESPESAS -->
        <div class="clinicEntry title_border mt-3">
            <div class="title_align_center">Despesas</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnEmployeeOut">Funcionário</button>
                </div>
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnExpenseOut">Outras</button>
                </div>
            </div>
        </div>
        <!-- CRÉDITOS -->
        <div class="clinicEntry title_border mt-3">
            <div class="title_align_center">Créditos</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnApplicationsIn">Aplicação</button>
                </div>
            </div>
        </div>
        <!-- LANÇAMENTOS CLINICA -->
        <div class="clinicEntry title_border mt-3">
            <div class="title_align_center">Lançamentos em Clínica</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnClinicEntryEmployee">Crédito p/ Funcionário</button>
                </div>
            </div>
        </div>
        <!-- TRANSFERÊNCIA -->
        <div class="transfer title_border mt-3">
            <div class="title_align_center">Transferências</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnPaymentVoucher">Comprovante</button>
                </div>
                <div class="col-6 px-1">
                    <button class="btn btn-primary w-100" id="btnTransferBankBank">Banco/Banco</button>
                </div>
            </div>
        </div>
        <!-- AJUSTES -->
        <div class="adjustment title_border mt-3">
            <div class="title_align_center">Ajustes</div>
            <div class="row justify-content-center px-1 py-3">
                <div class="col-4 px-1">
                    <button class="btn btn-info w-100" id="btnAdjustmentBank">Banco</button>
                </div>
                <div class="col-4 px-1">
                    <button class="btn btn-info w-100" id="btnAdjustmentCooperator">Colaborador</button>
                </div>
                <div class="col-4 px-1">
                    <button class="btn btn-info w-100" id="btnAdjustmentClinic">Clinica</button>
                </div>
                <div class="col-5 px-1 mt-2">
                    <button class="btn btn-info w-100" id="btnAdjustmentNotIdentified">Não Identificado</button>
                </div>
                <div class="col-5 px-1 mt-2">
                    <button class="btn btn-info w-100" id="btnAdjustmentIdentify">Identificar</button>
                </div>
                <div class="col-5 px-1 mt-2">
                    <button class="btn btn-info w-100" id="btnUserEntry">Depósito p/ Usuário</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center title_border m-0 px-2 py-2 mt-2">
            <div class="col-6 px-1">
                <button class="btn btn-warning w-100 exit">Sair</button>
            </div>
        </div>
    </div>
</div>

<!-- ENTRADAS -->
<div class="modal-box" id="bankEntry">
    <input class="d-none" name="month" />

    <button class="btn-close exit"><i class="fas fa-times"></i></button>

    <div class="form-hr me-5">
        <label>TEMPLATE</label>
    </div>

    <div class="px-3 py-4">
        <div class="col-12">
            <label class="form-label m-0">Descrição</label>
            <input type="text" class="form-control" name="modalDescription" id="modalDescription" />
        </div>
        <div class="row g-0 mt-2">
            <div class="col-8 pe-1">
                <label class="form-label m-0">Data</label>
                <input type="date" class="form-control" name="modalDate" />
            </div>
            <div class="col-4 ps-1">
                <label class="form-label m-0">Moeda</label>
                <select class="form-select" name="modalCurrency">
                    <option value="1" selected>Real</option>
                    <option value="2">Dolar</option>
                </select>
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-6 pe-1">
                <label class="form-label m-0">Valor</label>
                <input type="text" class="form-control val" name="modalValue" id="modalValue" data-mask="number" m-type="2" />
            </div>
            <div class="col-1 pe-1 text-center">
                <i class="fas fa-calculator mt-4" style="font-size: 27px" disabled></i>
            </div>
            <div class="col-5 ps-1">
                <label class="form-label m-0">Situação</label>
                <select class="form-select" aria-label="Default select example" name="modalAvailable" disabled>
                    <option value="1" selected>Disponível</option>
                    <option value="2">Vinculado</option>
                </select>
            </div>
        </div>

        <div class="row g-0 mt-2">
            <div class="col-9 pe-1">
                <label class="form-label m-0">Clínica</label>
                <input type="text" class="form-control" name="nm_clinic" data-lpignore="true" disabled />
            </div>
            <div class="col-3 ps-1">
                <label class="form-label m-0">Id</label>
                <input type="text" class="form-control" name="id_clinic" readonly />
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-9 pe-1" id="as_entry1">
                <label class="form-label m-0">ENTRY-1</label>
                <input type="text" class="input-select form-control" name="entry1Name" data-lpignore="true" />
                <div class="tpt"></div>
            </div>
            <div class="col-3 ps-1">
                <label class="form-label m-0">Id</label>
                <input type="text" class="form-control" name="entry1Id" readonly />
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col-9 pe-1" id="as_entry2">
                <label class="form-label m-0">ENTRY-2</label>
                <input type="text" class="input-select form-control" name="entry2Name" data-lpignore="true" />
                <div class="tpt"></div>
            </div>
            <div class="col-3 ps-1">
                <label class="form-label m-0">Id</label>
                <input type="text" class="form-control" name="entry2Id" readonly />
            </div>
        </div>

        <div class="d-flex justify-content-around bdGrey mt-5 py-2">
            <button class="btn btn-primary w-50 mx-2 btnSave" disabled>Salvar</button>
            <button class="btn btn-secondary w-50 mx-2 exit">Cancelar</button>
        </div>
    </div>
</div>
