<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>WAU Clinic</title>
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:url" content="https://wauclinic.com.br/" />
        <meta property="og:title" content="WAU Clinic" />
        <meta property="og:site_name" content="WAU Clinic" />
        <meta property="og:description" content="WAU Clinic - Sistemas Inteligentes" />
        <meta property="og:image" content="https://wauclinic.com.br/wau_social01.webp" />
        <meta property="og:image:type" content="image/webp" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:type" content="website" />

        <meta name="theme-color" content="#4e4e4e" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#4e4e4e" />
        <meta name="msapplication-navbutton-color" content="#4e4e4e" />

        <link rel="apple-touch-icon" sizes="180x180" href="<?= base_url('img/favicon/apple-touch-icon.png') ?>" />
        <link rel="icon" type="image/png" sizes="32x32" href="<?= base_url('img/favicon/favicon-32x32.png') ?>" />
        <link rel="icon" type="image/png" sizes="16x16" href="<?= base_url('img/favicon/favicon-16x16.png') ?>" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="<?= base_url('assets/css/site/videoTop.css?v=') . $version ?>" />
        <link rel="stylesheet" href="<?= base_url('assets/css/site/content01.css?v=') . $version ?>" />
        <link rel="stylesheet" href="<?= base_url('assets/css/site/content02.css?v=') . $version ?>" />
        <link rel="stylesheet" href="<?= base_url('assets/css/site/content03.css?v=') . $version ?>" />
    </head>

    <body>
        <!--. SECTIONS -->
        <div><?=$this->include("site/videoTop.html")?></div>
        <div><?=$this->include("site/content01.html")?></div>
        <div><?=$this->include("site/content02.html")?></div>
        <div><?=$this->include("site/content03.html")?></div>

        <!--. SCRIPTS -->
        <script src="https://kit.fontawesome.com/222ab7e352.js" crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
