<section class="rowTop">
    <div class="container">
        <div class="myrow">
            <div class="mycol">
                <div class="card">
                    <img src="<?= $rowTop_1 ?>" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Agenda Inteligente</h5>
                        <p class="card-text">
                            Reduzir o cancelamento de consultas em 90% não é apenas sobre "avisar" o paciente, mas sobre
                            engajamento e conveniência. O segredo de uma Agenda Inteligente está em atuar nos três pilares do
                            esquecimento: a falta de memória, a dificuldade de desmarcar e a falta de percepção de valor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mycol">
                <div class="card">
                    <img src="<?= $rowTop_2 ?>" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Prontuário Eletrônico</h5>
                        <p class="card-text">
                            É o cérebro do atendimento. Migrar do papel ou de arquivos PDF soltos para um prontuário digital
                            estruturado não é apenas uma questão de organização, mas de segurança jurídica e eficiência
                            clínica.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mycol">
                <div class="card">
                    <img src="<?= $rowTop_3 ?>" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Controle Financeiro</h5>
                        <p class="card-text">
                            É o que garante a sustentabilidade e o crescimento da sua clínica. Para um profissional de saúde,
                            o financeiro não pode ser um "bicho de sete cabeças". Ele precisa ser fácil de usar, dinâmico,
                            integrado ao fluxo de atendimento e com extrato individual por contas bancárias.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
