<section class="videoTop video-section container-fluid p-0" aria-label="Vídeo de Destaque">
    <video class="w-100" style="aspect-ratio: 1920 / 800; object-fit: cover; display: block" autoplay loop muted playsinline>
        <source src="<?= $video ?>" type="video/mp4" />
    </video>
    <div class="overlay"></div>
    <div class="logo-wau">
        <img src="<?= $logo ?>" alt="Logo WAU" />
    </div>
    <div class="content">
        <h1 class="animate__animated animate__backInDown animate__delay-1s animate__fast">Sistema com IA</h1>
        <h1 class="animate__animated animate__backInUp animate__delay-1s animate__fast">
            para <b>Clínicas Inteligentes</b>
        </h1>
        <h1 class="animate__animated animate__backInUp animate__delay-1s animate__fast">que não param de crescer!</h1>
    </div>
</section>
