<div class="btn-box btn-dev">
    <button class="btn color-wau3 btnDevRefresh">Refresh</button>
    <button class="btn color-wau3 btnDevmodeActive">DEV-Mode</button>
    <button class="btn color-wau3 btnDevUserDebugger">Debuga usuário</button>
    <button class="btn color-wau3 btnDevFindPerm">Localiza permissão</button>
    <div class="btn-group dropend stop-close">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropend
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
    </div>
    <button class="btn color-wau3 btnDevPermRefresh">Atualiza permissões</button>
    <button class="btn color-wau3 btnDevTest">Executa teste</button>
    <button class="btn color-wau3 btndevEncrypt">Criptografia</button>
    <button class="btn color-wau3 btnDevSession">Exibe Session</button>
    <button class="btn color-wau3 btnDevFilm">Video teste</button>
    <button class="btn color-wau3 btnDevMaintenance">Matunenção</button>
    <button class="btn color-wau3 btnDevEnvironment">Desenvolvimento</button>
</div>
