<div class="container">
    <div id="contacts" class="scrollbar">
    </div>

    <div id="messages">
        <div id="toolsTop">
            <div class="img">
                <img src="<?=base_url('img/zapOff.jpg')?>">
            </div>
            <div class="name">
                <input type="text" name="name" readonly>
            </div>
            <div class="phone">
                <input type="text" name="phone" readonly>
            </div>
        </div>

        <div id="table" class="scrollbar">
            <div class="list"></div>
        </div>

        <div id="toolsBot">
            <div class="content">
                <textarea id="txtSend" name="txtSend" placeholder="Digite uma mensagem"></textarea>
                <button class="btn btnSend"><i class="far fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="popup modalContact">
    <?=$this->include("whatsapp/console/modal_contact.html")?>
</div>