<div class="modal px-3 py-2">
    <div class="row pt-3 px-1">
        <div class="name">
            <label>Nome</label>
            <input type="text" class="form-control" name="name" mask="string" mask-type="3" />
        </div>
        <div class="icons">
            <button class="btn" title="Paciente"><i class="fa-light fa-user-injured"></i></button>
            <button class="btn" title="Médico"><i class="fas fa-user-md"></i></button>
            <button class="btn" title="Funcionário"><i class="fas fa-user-cog"></i></button>
            <button class="btn" title="Fornecedor"><i class="fas fa-user-secret"></i></button>
        </div>
    </div>

    <div class="saveCancel">
        <button class="btn btn-group btnSave"><i class="fal fa-save"></i></button>
        <button class="btn btn-group ms-2 btnCancel"><i class="far fa-times-circle"></i></button>
    </div>
</div>
