<div class="tools pt-1 pb-5">
    <div class="btnFather">
        <div class="d_icon"><i class="fas fa-robot px-2 pt-1"></i></div>
        <button class="btn m-0 w-100 btnIa">IA</button>
    </div>

    <!--: SALDO -->
    <!-- <div class="title mt-3">Envia Mensagem</div>

    <div class="btnFather">
        <div class="d_icon"><i class="fas fa-dollar-sign px-2 pt-1"></i></div>
        <div class="div">
            <input type="text" class="text-center phone" value="55" style="width: 100%;">
        </div>
    </div>

    <div class="btnFather">
        <div class="d_icon"><i class="far fa-save px-2"></i></div>
        <div class="btns" style="grid-template-columns:1fr">
            <button class="btn btnSendLinkIa">Link IA</button>
        </div>
    </div>

    <div class="btnFather">
        <div class="d_icon"><i class="far fa-save px-2"></i></div>
        <div class="btns" style="grid-template-columns:1fr">
            <button class="btn btnSendTestAsk">Pergunta teste</button>
        </div>
    </div> -->
</div>
