<div class="title">
    <i class="fa-light fa-file-doc me-3"></i>
    <span>...</span>
</div>
<div class="menu">
    <div class="option">Carregar documento por:</div>
    <button class="btn px-3 modalQrCode">
        <i class="fa-light fa-mobile-screen-button"></i>
        <span>Celular</span>
    </button>
    <button class="btn p-0 newDocByPc">
        <label for="loadImage" class="form-label text-light pointer px-3 m-0">
            <i class="fa-light fa-desktop"></i>
            <span>Computador</span>
        </label>
    </button>
    <button class="btn px-3 ms-5 tab document" data-method="document" disabled>
        <i class="fa-light fa-file-invoice"></i>
        <span>Documentos</span>
    </button>
    <button class="btn px-3 tab exam" data-method="exam" disabled>
        <i class="fa-light fa-vials"></i>
        <span>Exames</span>
    </button>
    <button class="btn px-3 tab photo" data-method="photo" disabled>
        <i class="fa-light fa-camera-retro"></i>
        <span>Fotos</span>
    </button>
</div>
