<section class="container">
    <!--+ MENU TOPO -->
    <div id="menuTop">
        <!--+ Left -->
        <?=$this->include("templates/menuTopLeft.html")?>
        <!--+ Right -->
        <div class="right justifyEnd">
            <button class="btn btn-group register tab" data-tab="register">
                <i class="fa-light fa-address-card"></i>
                <p>Cadastro</p>
            </button>
            <button class="btn btn-group tab" data-tab="">
                <i class="fa-light fa-photo-film"></i>
                <p>Definir</p>
            </button>
        </div>
    </div>

    <!--+ MAIN -->
    <div class="form-grow">
        <!--+ CADASTRO -->
        <div id="register" style="display: none"><?=$this->include("provider/register/providerRegister.html")?></div>
    </div>
</section>
