#menuTop {
    .right {
        .btn {
            width: 150px;
        }
    }
}

/*.......... CADASTRO */
#register {
    .left {
        .btn-box {
            .btn-group {
                width: 100%;
                gap: 5px;

                div {
                    width: 100%;

                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*.......... PRONTUÁRIO */
#record {
    position: relative;

    .left {
        padding-top: 0;
        padding-left: 1vh;
        padding-right: 1vh;
        gap: 20px;

        [data-height="1"] {
            .quillText {
                height: 200px;
            }
        }

        [data-height="2"] {
            .quillText {
                height: 300px;
            }
        }

        [data-height="3"] {
            .quillText {
                height: 600px;
            }
        }

        .mod-main {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 10px 20px 20px;
            border-radius: 10px;
            background-color: var(--body);
            border: 1px solid #eeeeee;

            .title-main {
                display: flex;
                justify-content: space-between;
                margin-bottom: 3px;
                padding: 0 20px;

                .left-box {
                    display: flex;
                    align-items: center;

                    h6 {
                        margin: 0;
                        font-weight: 600;
                        color: var(--label-color);
                    }

                    span {
                        margin-left: 20px;
                    }
                }

                .right-box {
                    .btn {
                        padding: 3px 10px;
                    }
                }
            }
        }

        .show {
            background-color: var(--colorXLight);
        }

        .ql-editor p {
            color: var(--txtDark);
            font-size: 15px;
        }

        .mod-body {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: var(--body);
        }

        .radio {
            .content {
                display: flex;
                gap: 10px;
                margin-top: 20px;
            }
        }

        .check {
            .content {
                display: flex;
                gap: 10px;
                margin-top: 20px;
            }
        }

        .numberlist {
            .content {
                .name {
                    width: 145px;
                }

                .prefix {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    width: 40px;
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 500px;

        #modulesActives,
        #modulesInactives {
            .list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px;

                .module {
                    display: flex;
                    align-items: center;
                    padding: 0 8px;
                    border-radius: 5px;
                    color: var(--colorDark);
                    border: 1px solid var(--bs-border-color);

                    &:hover {
                        background-color: #f1f1f1;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 5px 0;
                        width: 35px;
                        height: 35px;
                        color: #fff;
                    }

                    .form-switch {
                        margin-left: auto;
                    }

                    &[data-active="0"] {
                        color: var(--col2);

                        i {
                            color: var(--col2);

                            &.delete {
                                color: var(--bs-danger);
                            }
                        }
                    }

                    &[data-untrash="1"] {
                        .delete {
                            cursor: initial;
                            /* color: var(--bs-secondary); */
                        }
                    }
                }
            }
        }

        #modulesActives .list .module {
            cursor: move;

            &.show {
                background-color: var(--colorXLight);
            }
        }
    }

    #moduleCreate {
        .main {
            display: flex;

            .img {
                /* border: 1px solid red; */
            }

            .text {
                padding: 0 10px;
                border-radius: 10px;
                cursor: pointer;
                /* border: 1px solid red; */

                h5 {
                    font-weight: bold;
                    color: var(--colorDark);
                }

                b {
                    color: var(--colorMedium);
                }
            }

            &:hover {
                background-color: rgb(238, 238, 238);
            }
        }
    }

    #moduleTextarea {
        .modal-dialog {
            min-width: 900px;

            .border {
                padding: 20px;
                border-radius: 10px;
            }

            [data-height="1"] {
                .quillText {
                    height: 200px;
                }
            }

            [data-height="2"] {
                .quillText {
                    height: 300px;
                }
            }

            [data-height="3"] {
                .quillText {
                    height: 600px;
                }
            }

            .mod-main {
                display: flex;
                flex-direction: column;
                padding: 20px;
                border-radius: 10px;
                background-color: var(--body);
                border: 1px solid #eeeeee;

                .title-main {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 3px;
                    padding: 0 20px;
                    /* border: 1px solid red; */

                    .left-box {
                        display: flex;
                        align-items: center;

                        h6 {
                            margin: 0;
                            font-weight: 600;
                            color: var(--label-color);
                        }

                        span {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    #moduleRadio {
        .radio-box {
            margin-top: 20px;

            .left-box {
                width: 60%;
                padding: 20px;
                border: 1px solid var(--border);

                .radio-items {
                    margin-top: 20px;

                    .input-group:not(:first-child) {
                        margin-top: 5px;
                    }
                }

                .add-box {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    /* border: 1px solid red; */
                }
            }
        }
    }

    #moduleCheck {
        padding: 20px;

        .check-box {
            width: 60%;
            padding: 20px;
            border: 1px solid var(--border);

            .check-items {
                margin-top: 20px;

                .input-group:not(:first-child) {
                    margin-top: 5px;
                }
            }

            .add-box {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                /* border: 1px solid red; */
            }
        }
    }

    #moduleNumberlist {
        .modal-dialog {
            min-width: 1200px;

            .title-box {
                .title {
                    position: absolute;
                    margin-top: -37px;
                    width: fit-content;
                    background-color: var(--form-grow);
                }
            }

            .numberlist-items {
                position: relative;
                margin: 0 110px;

                .title {
                    position: absolute;
                    margin-top: -30px;
                    width: fit-content;
                    background-color: var(--form-grow);
                }

                .item .input-group {
                    border: 1px solid transparent;
                    border-radius: var(--bs-border-radius);
                    cursor: move;

                    &.selected {
                        border: 1px solid red;
                    }

                    .name {
                        width: 145px;
                    }

                    .prefix {
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        width: 40px;
                    }
                }
            }

            .input-box {
                position: relative;

                .title {
                    position: absolute;
                    margin-top: -38px;
                    width: fit-content;
                    background-color: var(--form-grow);
                }
                .name {
                    width: 250px;
                }

                .decimal {
                    width: 230px;
                }

                .prefix {
                    width: 150px;
                }

                .clean {
                    width: 50px;
                }
            }

            .action-box .btn {
                min-width: 130px;
            }
        }
    }

    #modalModuleUntrash {
        .modal-dialog {
            min-width: 800px;
        }

        .btn {
            width: 180px;
        }
    }

    .modal-content {
        background-color: var(--form-grow);

        .modal-header {
            background-color: var(--colorXLight);
            color: var(--colorXDark);
        }

        .quillText {
            background-color: var(--body);
        }
    }
}

/*.......... PERMISSÕES */
#permission {
    #headerBar .btn.config {
        background-color: red;
    }

    .left {
        display: flex;
        flex-direction: column;
        flex: 1;

        .header {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid gray;

            .title {
                margin-left: 20%;
                font-weight: bold;
                text-align: center;
                color: var(--colorDark);
            }

            .btn-box {
                margin-left: auto;

                span {
                    margin-right: 10px;
                    font-weight: bold;
                }

                .btn.activity {
                    width: 200px;
                    color: #797979;
                    background: #fff;
                    border: 1px solid #b1b1b1;
                    font-weight: bold;

                    &.active {
                        color: #fff;
                        background: #7bb624;
                        border: 2px solid #7bb624;
                    }
                }
            }
        }

        .list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            padding: 10px;
        }
    }

    .right {
        width: 600px;
        border-left: 1px solid gray;

        .title {
            padding: 10px 20px;
            font-weight: bold;
            text-align: center;
            color: var(--colorDark);
            border-bottom: 1px solid gray;
        }

        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
        }
    }

    .btn-item {
        width: 100%;
        color: #797979;
        background: #fff;
        border: 1px solid #b1b1b1;
        font-weight: bold;

        &.long-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.active {
            color: #fff;
            background: orangered;
            border: 1px solid orangered;
        }

        &.activity {
            color: #fff;
            background: #7bb624;
            border: 2px solid #7bb624;
        }

        &:hover {
            color: #fff;
            background: var(--colorMedium);
        }

        i {
            color: black;
        }
    }

    .modal.config-view {
        .modal-dialog {
            min-width: 750px;

            .list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                padding: 10px;
            }
        }
    }

    .modal.config-perm {
        .modal-dialog {
            min-width: 700px;

            .list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                padding: 10px;
            }
        }
    }
}

/*.......... PRONTUÁRIO */
#config {
    .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;

        .logout-box {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border: 1px solid gray;
        }

        .login-info {
            margin-top: 20px;
            padding: 10px 20px;
            border: 1px solid gray;
        }

        .register {
            margin-top: 20px;
            padding: 10px 20px;
            border: 1px solid gray;
        }
    }

    .right {
        width: 500px;
        border-left: 1px solid gray;

        .theme {
            margin-top: 20px;
            padding: 10px;

            .btn-box {
                display: flex;
                gap: 5px;

                .btn {
                    flex: 1;
                    font-weight: bold;
                    color: #fff;

                    &.azul {
                        background-color: blue;
                    }

                    &.verde {
                        background-color: green;
                    }

                    &.vinho {
                        background-color: #830046;
                    }

                    &.rosa {
                        background-color: #eb35b4ff;
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    #menuTop {
        .right {
            .btn {
                width: auto;
            }
        }
    }

    #record {
        .left {
            padding: 10px;
        }

        .right {
            width: 430px;
            padding: 10px;
        }
    }
}

.form-check-input,
.form-check-label {
    cursor: pointer;
}
