main {
    padding: 10px;
}

.container {
    flex-direction: row;
    width: 100%;
}

/**********: AREA DE CONTATOS */
#contacts {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    overflow: auto;
    border: 1px solid #777;

    .btns {
        display: flex;

        .btn {
            border-radius: 0;
            color: #fff;
            background-color: #0b3451;
            border-color: #114163;
        }

        .btn:hover {
            background-color: #114163;
        }

        .btnName {
            width: 100%;
            font-family: Roboto-Light;
            color: #fff;

            .active {
                font-weight: bold;
                color: #00ffff;
            }
        }

        .btnIcon {
            width: 50px;
            color: greenyellow;

            .active {
                color: orangered;
            }
        }
    }
}

/**********: AREA DE MENSAGEMS */
#messages {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    border: 1px solid #777;
    background-image: url("../../../../img/whatsapp_bk1.webp");
    background-size: 500px 500px;
    background-repeat: repeat;

    #table {
        flex-grow: 1;
        width: 100%;
        padding: 0 50px;
        overflow: auto;

        .list {
            display: flex;
            flex-direction: column;

            .f_message {
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 5px 0;
                border-radius: 10px;
                overflow: hidden;
                /* border: 1px solid red; */

                .content {
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    overflow: hidden;

                    .topLink {
                        display: flex;
                        height: 100px;
                        border-radius: 10px;
                        background: #f5f6f6;

                        .img {
                            width: 100px;
                            height: 100%;
                            border-radius: 10px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 3px;
                            margin-left: 20px;
                        }
                    }

                    .topImage {
                        display: flex;
                        height: 300px;
                        border-radius: 10px;
                        background: #f5f6f6;

                        .img {
                            height: 100%;
                            border-radius: 10px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .topExternal {
                        display: flex;
                        height: 200px;
                        border-radius: 10px;
                        background: #f5f6f6;
                        /* background: transparent; */

                        .img {
                            height: 100%;
                            border-radius: 10px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .msg {
                        display: flex;
                        flex-direction: column;
                        padding-top: 3px;

                        textarea {
                            width: 42em;
                            padding: 10px;
                            overflow: hidden;
                            background: none;
                            border: none;
                            resize: none;
                            color: #3b3129;
                        }

                        .time {
                            align-self: flex-end;
                            margin-right: 10px;
                            padding-bottom: 5px;
                            font-size: 12px;
                            color: rgb(54, 87, 6);

                            spam {
                                font-size: 25px;
                            }
                        }
                    }

                    .emoji {
                        position: absolute;
                        bottom: 0;
                        right: 120px;
                    }
                }
            }

            .f_message.start {
                align-self: flex-start;

                .content {
                    background: #fff;
                }
            }

            .f_message.end {
                align-self: flex-end;

                .content {
                    background: #d9fdd3;
                }
            }
        }
    }
}

/**********: AREA FERRAMENTAS DO TOPO */
#toolsTop {
    display: flex;
    align-items: center;
    min-height: 65px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #00ffff;
    background-color: #0b3451;

    .img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .name {
        margin-left: 20px;

        input {
            font-size: 25px;
            background-color: transparent;
        }
    }

    .phone {
        margin-left: 20px;

        input {
            font-size: 25px;
            background-color: transparent;
        }
    }
}

/**********: AREA FERRAMENTAS DO RODAPÉ */
#toolsBot {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0b3451;
    border: 1px solid #777;

    .content {
        display: flex;
        align-items: center;
        width: 800px;
        height: auto;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        color: #0b3451;

        textarea {
            width: 100%;
            padding: 7px 30px;
            border: none;
            resize: none;
            background: #fff;
            color: #0b3451;
        }

        .btnSend {
            i {
                font-size: 20px;
            }
        }
    }
}

/**********: AREA DO SIDEBAR */
.sidebarTools {
    .btn.active {
        background: rgb(0, 255, 242);
        color: #000;
    }
}

/**********: MODAL CONTATO */
.modalContact {
    width: 800px;
    border-radius: 10px;

    .name {
        width: 60%;
    }

    .icons {
        display: flex;
        gap: 10px;
        width: 40%;

        .btn {
            width: 70px;
        }

        i {
            font-size: 30px;
        }
    }

    .saveCancel {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        justify-content: end;

        .btnSave {
            color: greenyellow;
        }

        .btnCancel {
            color: orangered;
        }

        i {
            padding-top: 3px;
            font-size: 20px;
        }
    }
}
