<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><?= $title ?></title>

        <link rel="stylesheet" href="<?= base_url('assets/css/tools/viewMessage/message.css') ?>" />
    </head>
    <body>
        <div class="img">
            <img src="<?= $logo ?>" />
        </div>
        <div class="msg1"><?= $msg1 ?></div>
        <div class="msg2"><?= $msg2 ?></div>
    </body>
</html>
