@font-face {
    font-family: quentin;
    src: url(../../../../plugins/fonts/Quentin.otf);
}

@font-face {
    font-family: arista;
    src: url(../../../../plugins/fonts/Arista-Pro-Alternate-Regular-trial.ttf);
}

p {
    color: #525252;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    background: #f1f1f1;
    font-family: Roboto-Regular;
    text-align: center;
    font-size: 17px;
    /* border: 1px solid gray; */
}

/* DIV PARA CONFIRMAR AGENDAMENTO */
.f_contentShedule {
    display: flex;
    /* display: none; */
    align-items: center;
    flex-direction: column;
    width: 70%;
    /* border: 1px solid red; */
}

.f_img {
    width: 70%;
}

img {
    width: 100%;
}

.title1 {
    padding: 0;
    font-size: 70px;
    font-family: 'quentin';
    color: #067F8C;
}

.content1 {
    width: 100%;
    padding: 10px 0 20px;
}

.arc {
    font-family: arista;
    font-size: 30px;
    color: #067F8C;
}

.content2 {
    width: 70%;
    padding: 30px 10px;
    border: 1px solid gray;
}

.content2 p {
    margin-top: 5px;
}

.voucher_info {
    padding: 0 0 20px;
}

.btn_schedule {
    color: #fff;
    background: #067F8C;
}

.f_btn {
    width: 70%;
    padding: 20px 0;
}

.btn_schedule {
    width: 60%;
    padding: 15px 0;
}

/* DIV DE VOUCHER CONFIRMADO */
.f_contentConfirm {
    display: none;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
}

@media (max-width: 768px) {
    .f_contentShedule {
        width: 100%;
    }

    main {
        width: 100%;
        padding-bottom: 50px;
    }

    .f_img {
        min-width: 100%;
    }

    .content2 {
        width: 95%;
    }

    .f_btn {
        width: 100%;
    }
}

@media (max-width: 330px) {
    .content1 {
        font-size: 14px;
    }
}