main {
    padding: 0 20px;
}

.calendar {
    height: 99%;
}

.d_icon {
    cursor: pointer;
}

.btnFindRoom {
    height: 58px;
}

.f_messageZap {
    display: none;
}

.sidebarTools .f_findRoom {
    display: flex;
    flex-direction: column;
}

.sidebarTools .f_findRoom .btn {
    width: 100%;
    margin-top: 3px;
    padding: 15px 0;
    font-size: 14px;
    font-weight: bold;
    font-family: OpenSans-Regular;
}

/* SELETORES ORIGINAIS */
.fc-toolbar-title {
    color: #fff;
}

.fc-event-time {
    font-size: 15px !important;
}

.fc-event-title-container {
    font-size: 14px !important;
}

.fc-day-today {
    background-color: #10191d !important;
}

.fc-day-today .fc-daygrid-day-top {
    background-color: #10191d;
}

.fc-day-today .fc-daygrid-day-number {
    font-weight: bold;
    color: #48ff00;
}
