/*.......... CADASTRO */
#register {
    .content-main {
        flex-direction: column;
    }
}

#list {
    .table {
        th {
            color: var(--colorDark);

            &:nth-last-child(-n + 5) {
                text-align: end;
            }
        }

        td {
            cursor: pointer;
            color: var(--txtDark);

            &:nth-last-child(-n + 5) {
                text-align: end;
            }
        }
    }
}
